
.fallingLeaves span {
    display: inline-block;
    margin: -280px 40px 54px -34px;
    -webkit-animation: fallingLeaves 10s infinite linear;
    -moz-animation: fallingLeaves 10s infinite linear;
    animation:  fallingLeaves 10s infinite linear;
}

.blog-input-group {
    width: 32%;
    margin: auto;
    z-index: 1;
    margin-top: 110px !important;
}

.blog-input-group button {
    height: 45px;
    border-color: unset;
}

.blog-input-group  .btn-outline-secondary {
    border-color: #26c876 !important;
    background: #26c876 !important;
}

.blog-input-group input {
    height: 45px;
    border-color: unset;
    background-clip: unset;
    border: transparent;
}

#blog-section-1 i {
    font-size: 1.5rem !important;
}

#blog-section-1 img {
    top: 84px;
    left: 0;
    width: 100%;
    height: 425px;
    opacity: 35%;
    z-index: 0; 
}

.my-container {
    margin: auto;
    max-width: 1300px;
    z-index: 0
}

#blog-section-1 {
    background-image: url("../img/blog-bg.png");
    background-size: cover;
    height: 425px;
    color: white;
    margin-bottom: 5rem;
}

#blog-section-1 h2 {
    text-align: center;
    left: 46%;
    top: 225px;
    position: absolute;
}


#blog-section-2 i {
    font-size: 1.5rem !important;
}

#blog-section-2 {
    background: linear-gradient(44deg, #19d275, #3eb378);
    height: 93px;
    color: white;
}

#blog-section-2 h2 {
    text-align: center;
}

.loader i {
    font-size: 2rem !important;
    width: auto;    
}

.titulo-principal {
    margin-top: 4rem;
}

.titulo-principal h2 {
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    color: #01253d;
}

.breadcrumb {
    font-weight: bold !important;
}

#search-text {
    display: none;
}

#search-text p {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    line-height: 3.0rem;
    margin: 0;
    color: #a5a4a4;
}

.post .imagem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 195px;
}

.post .titulo, .titulo-mob {
    font-family: 'Lufga';
    font-weight: 800;
    color: #01253d;
    margin-bottom: 0;
    line-height: initial;
    font-size: x-large;
}

.post .autor, .autor-mob {
    text-align: justify;
    font-family: 'Nunito';
    font-weight: lighter;
    font-size: 0.8rem;
}

.post .conteudo {
    text-align: justify;
    font-family: 'Nunito';
    font-weight: normal;
    max-height: 95px;
    display: block;
}

.ultimos-posts {
    height: auto;
    min-height: 1591px;
    background:rgb(248 249 250);
    padding: 1.5rem;
    -moz-border-radius:30px 0px 30px 0px;
    -webkit-border-radius:30px 0px 30px 0px;
    border-radius:30px 0px 30px 0px;
    border-color: #01253d;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.ultimos-posts .imagem {
    background-image: url('../img/aprova-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 150px;
}

.ultimos-posts .wavy-line img {
    width: 100%;
    margin: auto;
}

.post-menor .title {
    margin-top: 6px;
}

.banner-fundo {
    width: 100%;
    height: 215px;
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    -moz-border-radius: 0px 65px 0px 65px;
    -webkit-border-radius: 0px 65px 0px 65px;
    border-radius: 0px 65px 0px 65px;
    text-align: center;
}

.noticia {
    text-align: justify;
}

.noticia .imagem {
    background-image: url(../img/aprova-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    margin: auto;
    width: 500px;
}

.noticia .titulo {
    font-family: 'Lufga' !important;
    font-weight: 800;
    color: #01253d;
    margin-bottom: 0;
    line-height: initial;
    font-size: xx-large;
}

.noticia .autor {
    text-align: justify;
    font-family: 'Nunito';
    font-weight: lighter;
    font-size: 0.8rem;
}

.noticia .conteudo {
    text-align: justify;
    font-family: 'Nunito';
    font-weight: normal;
}

.noticia p {
    font-family: 'Nunito';
}

/*the container must be positioned relative:*/
    .autocomplete {
    position: absolute;
    display: block;
    width: 82%;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }  

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  button[type=submit] {
    background-color: #3eb378;
    color: #fff;
    cursor: pointer;
    left: 82%;
  }

  .form-control {
      border-radius: unset !important;
  }

  #blog-search-empty {
    text-align: center;
    margin-top: 3rem;
    color: gray;
    }

.blog-green-btn {
    font-weight: 700;
    font-size: large;
    line-height: 1.3rem;
    color: black;
    background-color: #52bf31;
    right: 134px;
    top: 125px;
}

.blog-green-btn:hover {
    color: white;
    background: #0178ca;
}


/* MOBILE */

@media only screen and (max-width: 600px) {

    .banner-fundo-container {
        margin-right: 1.5rem!important;
        margin-left: 1.5rem!important;
    }

    .banner-fundo-container  button {
        right: 106px !important;
        top: 169px !important;
    }

    #search-text {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important;
    }

    #search-text p {
        font-size: x-large;
        line-height: 2rem;
    }

    #blog-section-1 img {
        height: 200px;
    }

    #blog-section-1 h2 {
        text-align: center;
        margin-bottom: 1.5rem!important;
        left: 40%;
        top: 129px;
    }

    .ultimos-posts .input-group {
        margin-bottom: 3rem!important;
    }

    .ultimos-posts .wavy-line {
        margin-bottom: 3rem!important;
    }

    #blog-section-1 {
        height: 200px;
        margin-bottom: 2rem;
    }

    .blog-input-group {
        width: 90%;
        margin: auto;
        margin-bottom: unset !important;
        margin-top: 2rem !important;
    }

    .blog-container {
        display: none;
    }
    
    .titulo-principal {
        margin-top: 2rem;
    }

    .post .titulo-mob, .autor-mob {
        display: block !important;
    }

    .news {
        margin: .5rem!important;
    }

    .main-news {
        margin-bottom: 3rem!important;
    }

    .post {
        margin-bottom: 3rem!important;
    }

    .post .titulo, .autor {
        display: none !important;
    }

    .post .imagem {
        margin-bottom: 1rem!important;
    }

    .categories {
        margin-bottom: 1.5rem!important;
    }

    .post-menor {
        margin-bottom: 1.5rem!important;
    }

    /* page noticias */

    .noticia .titulo {
        font-size:x-large !important;
        margin-bottom: 1rem!important;
    }

    .noticia .imagem {
        height: 180px;
        width: 80%;
    }

    .breadcrumb {
        width: fit-content;
        margin: auto;
    }

    .my-breadcrumb {
        margin-bottom: 1.5rem!important;
        margin-top: 2rem!important;
    }
}