@media only screen and (max-width: 600px) {

    #edit-photo-btn {
        right: 60px !important;
    }

    #pills-aluno .big-title {
        margin-top: auto !important;
    }

    #planos-login-section-1 .col {
        height: 84px !important;
        position: unset !important;
    }

    #user-settings {
        height: auto !important;
        border-radius: 1rem !important;
        margin-top: 1rem !important;
        max-width: unset !important;
    }
    
    #user-profile {
        padding-top: 1.4rem !important;
        border-radius: 1rem !important;
    }

    #user-profile .conta-block{
        height: auto !important;
    }

    #user-profile .nome, .email{
        text-align: center;
    }

    #planos-login-section-2 {
        margin-top: 1rem !important;
    }

    #planos-login-section-2 .email {
        margin-bottom: 1.5rem !important;
    }

    #info-profile-hide {
        display: block !important;
    }

    #info-profile-hide p{
        text-align: left !important;
    }

    #info-profile {
        display: none !important;
    }

    .plano-box-1 {
        margin-bottom: 3rem !important;
    }

    .conta-subcontainer {
        display: flex !important;
    }
    
}

/* END OF MOBILE */

#pills-aluno .big-title {
    margin: auto;
    margin-top: 50px;
}

[class*="profile col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.conta-subcontainer {
    display: table;
}

#editPhotoModal .modal-content {
    width: 370px !important;
    margin: auto;
}

#editPhotoModal button {
    width: 83%;
    margin: auto;
    font-weight: 500;
}

#edit-photo-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    bottom: 2px;
    right: 22px;
    color:#797979;
}

#edit-photo-btn i {
    line-height: 27px;
}

#edit-photo-btn:hover i, #edit-photo-btn:active i {
    line-height: 27px;
}

#edit-photo-btn:hover, #edit-photo-btn:active {
    color: white;
    background-color: #186fbb;
    border: #186fbb;
}

.outro-plano {
    color: #3eb378;
    font-weight: 700;
    text-decoration: underline;
}

#user-profile {
    background: #3eb378;
    border-top-left-radius: 1rem;
    border-end-start-radius: 1rem;
}

#user-settings {
    height: 900px;
    border-top-right-radius: 1rem;
    background: white;
    border: 1px solid #3eb378;
    border-end-end-radius: 1rem;
    max-width: 40vw;
}

.profile-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-radius: 100%;
    }

#planos-login-section-2 .titulo {
    font-weight: 800;
    margin: 0;
}

#planos-login-section-2 .conteudo {
    font-weight: normal;
    font-family: 'Nunito';
    font-size: medium;
}

#planos-login-section-2 .nome {
    margin-bottom: 0;
    font-size: x-large;
    font-weight: bold;
    margin-top: 2rem;
}

#planos-login-section-2 .email {
    margin-bottom: 3rem;
}

#planos-login-section-2 i {
    margin-right: 10px;
}

#planos-login-section-2 .accordion-button {
   font-size: large;
}

#planos-login-section-2 .plano-box {
    height: 250px;
    width: 200px;
    border: 1px solid gray;
    text-align: center;
    margin:auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 #planos-login-section-2 .plano-box p {
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 4px !important;
    padding: .25rem;
 }

#planos-login-section-2 .plano-body {
    width: 100% !important;
    height: 90px !important;
    position: relative !important;
    z-index: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
    border-color: unset !important;
}

#planos-login-section-2 .plano-body h2 {
    font-size: 6rem;
    font-weight: 700;
    color: gray;
    width: unset;
    margin-left: unset;
}

.conta-block .plano-preco-b {
    font-size: x-large;
    font-weight: 700;
    top: 23%;
}

.conta-block .plano-preco-c {
    font-size: .8rem;
    top: 43%;
}

#planos-login-section-2 {
    right: 50%;
    z-index: 1000;
    margin-top: 9rem;
}

#planos-login-section-1 .col{
    height: 177px;
    position: absolute;
    background-image: linear-gradient(to right, rgb(110, 179, 0) , rgb(4, 150, 118));
    color: white;
    display: flex;
    z-index: -1;
}


.plataforma-navegacao {
    width: 100%;
    padding: 10px 0;
    background: #049676;
  }
  
  .plataforma-navegacao ul.navegacao {
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .plataforma-navegacao ul.navegacao {
      text-align: center;
      margin-bottom: 7px;
    }
  }
  
  .plataforma-navegacao ul.navegacao li {
    display: inline-block;
  }
  
  .plataforma-navegacao ul.navegacao li::after {
    content: "/";
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 10px;
    font-size: 1rem;
  }
  
  .plataforma-navegacao ul.navegacao li:last-child::after {
    display: none;
  }
  
  .plataforma-navegacao ul.navegacao li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: .9rem;
    font-weight: 500;
  }
  
  @media (max-width: 767px) {
    .plataforma-navegacao ul.navegacao li a {
      font-size: .85rem;
    }
  }
  
  .plataforma-navegacao ul.navegacao li.active a {
    color: white;
    font-weight: bold;
  }
  
  @media (max-width: 767px) {
    .plataforma-navegacao ul.navegacao li:not(.active) a span {
      display: none;
    }
  }
  
  .plataforma-navegacao .plataforma-progresso {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (max-width: 991px) {
    .plataforma-navegacao .plataforma-progresso {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  
  .plataforma-navegacao .plataforma-progresso p {
    font-size: .85rem;
    color: white;
    margin-bottom: 4px;
    font-weight: 500;
  }
  
  .plataforma-navegacao .plataforma-progresso .barra-progresso {
    width: 200px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.35);
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .plataforma-navegacao .plataforma-progresso .barra-progresso div {
    height: 100%;
    background-color: #ffed37;
  }

  .plataforma-navegacao a {
      text-decoration: none;
  }

