@media only screen and (max-width: 600px) {

    #pills-contato .container {
        height: 100% !important;
    }

    #pills-contato #message_btn {
        width: 100% !important;
    }

    #pills-contato .contato-subtitle {
        margin-top: 3rem;
    }

}

#form_contato {
    width: 75%;
    margin: 0 auto;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.contato-subtitle {
    font-family: 'Lufga';
    margin-top: 22px;
    margin-bottom: 3rem;
    margin-top: 5rem;
    font-weight: 700;
    text-align: center;
}

#form_contato textarea {
    resize: none;
    height: 80px;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

#aviso {
    display: none;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}   

button {
    border: none;
    background: none;
    outline: none;
    font-weight: inherit;
    color:white;
}

button:focus {
    outline: none;
}

.form-group {
    margin-bottom: 15px;
}

#message_btn {
    background-color: #29b372;
    width: 30%;
    margin: 30px auto;
    padding: 8px 15px;
    color: #FFF;
    font-family: 'Lufga';
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#message_btn {
    width: 35% !important;
    padding: 10px 15px !important;
    border-radius: 50px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#send_message i {
    margin-left: 15px;
}