@media only screen and (max-width: 600px) {
    
    .faq-section-1 {
        width: 184% !important;
        height: 345px !important;
        margin-bottom: unset !important;
        border-bottom-right-radius: 100% !important;
    }

    .faq-section-1 p {
          width: 100% !important;
    }

    .faq-section-1 .row {
        position: absolute;
        width: 100% !important;
    }

    .faq-section-1 .faq-bloco {
        margin: auto;
        width: 100% !important;
        padding: .5rem;
    }

    .faq-questions-title {
        margin-top: 1.5rem!important;
    }

    .faq-questions-wavy {
        margin-bottom: 1.5rem!important;
    }

    #section-questions {
        margin-right: .5rem!important;
        margin-left: .5rem!important;
        margin-top: 3rem!important;
        margin-bottom: 3rem!important;
    }

    .faq-bloco h2{
        margin-top: 1rem;
        font-size: 2rem !important;
    }

    .faq-section-1 .input-group {
        width: 100% !important;
        margin: auto !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .faq-section-1 .faq-imagem {
        display: none;
    }

    #section-questions .accordion-item .content {
        line-height: unset !important;
        margin-top: .5rem!important;
        margin-bottom: .5rem!important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        text-align: justify;
    }

    #section-questions .accordion-item p {
        margin-left: 2rem;
    }

    .faq-plano {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    #faq-search-text p {
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important;
        font-size: x-large !important;
        line-height: 2rem !important;
    }

    #faq-search-text {
        margin: 1rem !important;
    }
}

/* END OF MOBILE CODE */

#faq-search-text p {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    line-height: 3.0rem;
    margin: 0;
    color: #a5a4a4;
}

#perguntas-section-1 {
    background: linear-gradient(44deg, #19d275, #3eb378);
    height: 93px;
    color: white;
}

.faq-section-1 {
    background-image: url("../img/faq-bg.png");
    background-size: cover;
    width: 120%;
    margin-bottom: 3rem;
    height: 550px;
    border-bottom-right-radius: 90%;
}

.faq-section-1 h2{
    font-size: xxx-large; text-align: center; color: white; font-weight: 800;
}

.faq-section-1 p {
    color: white; text-align: center; width: 80%;margin: auto;font-size: 1.1rem;
}

.faq-section-1 .row {
    width: 80%; margin-left: auto; margin-right: auto;
}

.faq-section-1 img {
    width: auto;
    height: 171px;
    margin: auto;
}

.faq-bloco {
    margin: auto;
    width: 600px;
    padding: 50px;
}

.faq-bloco .btn-outline-secondary {
    border-color: #26c876 !important;
}

.search-shadow {
    box-shadow: 0.2rem 0.2em 3rem 0px rgb(0 0 0 / 40%);
}

.faq-plano {
    display: grid;
    border-radius: 8px;
    width: 328px;
    height: 300px;
    padding: 1rem
}

.faq-plano h4 {
    text-align: center;
    margin-right:.5rem;
    margin-left:.5rem;
    margin-top: 2rem;
    font-weight: bold;
}

.faq-plano p {
    text-align: center;
    margin-right:.5rem;
    margin-left:.5rem;
    font-family: Nunito;
}

.faq-plano i {
    font-size: 4rem;
    margin: auto;
    color: #3cab73;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}

.curved-bottom {
    background: linear-gradient(44deg, #19d275, #3eb378);
    width:500px;
    height:50px;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}

.barra {
    width: 4px;
    display: inline-flex;
    height: 100%;
    position: absolute;
}

#section-questions .accordion-item button {
    font-family: 'Lufga';
    font-weight: 500;
    padding: 0px;
    padding-right: 1rem;
    border-bottom: 0 !important;
    border-top: 0 !important;
    position: relative;
}

#section-questions .accordion-item .accordion-body {
    font-family: Nunito;
    padding: 0px;
    position: relative;
}

#section-questions .accordion-item .letra {
    font-weight: normal;
    font-size: xxx-large;
    margin-left: 1rem;
    line-height: 38px;
}

#section-questions .accordion-item .content {
    line-height: 50px;
}

#section-questions .accordion-item p {
    color: #313131; text-align: justify; margin-top: 1rem; margin-right: 1rem;
}

#section-questions .accordion-item:last-of-type .accordion-collapse {
    border-bottom-width: unset;
}

.faq-section-1 ul {
    width: 100% !important;
    box-shadow: 0.2rem 0.2em 3rem 0px rgb(0 0 0 / 40%) !important;
    /*display: block !important;*/
    top: 53px !important;
    border:unset !important;
}

.faq-section-1 .dropdown-item {
    width: inherit !important;
    white-space: unset !important;
}

.faq-section-1 input {
    height: 45px;
    border: transparent;
}


