body {
    font-family: 'Lufga';
    font-style: normal;
    overflow-x: hidden;
}

/* manter esse padding se a barra de navegação fixa */
/* .tab-content {
    padding-top: 84px !important;
} */

.nav-item:hover {
    background: #3eb37899 !important;
    color: white !important;
    border-radius: 1rem !important;
}

.nav-item .nav-link {
    color:inherit;
}


html {
    scroll-behavior: smooth;
}

.nav-last-button {
    border-radius: 1.25rem !important;
    border: 0.1rem solid #888882 !important;
}

.navbar-nav .nav-item {
    padding: .25rem!important;
    font-size: 0.9rem;
    line-height: 1.0;
}

.navbar-nav .nav-link {
    padding: 0.2rem .7rem;
    font-style: normal;
    font-weight: bold;
    font-size: larger;
    font-family: 'Lufga';
    color: grey;
    height: 28px;
    line-height: 20px !important;
}

.navbar-nav .nav-link.active {
    background-color: #3eb378 !important;
    color: white !important;
    border-radius: 25px;
}

.navbar-brand img {
    width: 130px;
}

.holder {
    /* Clip edges, as some of the lines don't terminate nicely. */
    overflow: hidden;
    position: relative;
    width: 70%;;
    height: 50px;
    margin: auto;
}

.ellipse-light {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, #3eb378 9px, #3eb378 7px, transparent 11px);
    background-size: 36px 40px;
    width: 463px;
    height: 18px;
}

.ellipse-dark {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, #01253d 9px, #01253d 7px, transparent 11px);
    background-size: 36px 40px;
    width: 463px;
    height: 18px;
}

.ellipse2 {
    top: 18px;
    left: 18px;
    background-position: 0px -22px; 
}

.home-column-item p {
    font-size: 1.7rem;;
    color: #737373;
    line-height: 35px;
    margin-top: 3px;
    font-family: 'Nunito';
    opacity: 0;
}

.home-column-item img {
    margin-right: 5px;
    height: 40px;
    padding: 0px !important;
    opacity: 0;
}

.plano-title {
    text-align: left;
    font-weight: bold;
    font-size: x-large;
    line-height: 25px;
    margin: 0;
}

.plano-vantagens p {
    margin: 10px 0px;
    margin-right: 90px;
    text-align: justify;
}

.plano-vantagens-login p {
    margin: 10px 0px;
    text-align: justify;
}

.plano-vantagens i {
    color: rgb(10 171 108);
    margin-right: 5px;
}

.plano-vantagens-login i {
    color: rgb(10 171 108);
    margin-right: 5px;
}

.big-title {
    text-align: center;
    font-weight: 800;
    font-size: xxx-large;
    line-height: 3.0rem;
    margin: 0;
}

.big-title-lp {
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
    line-height: 50px;
    margin: 0;
}

.big-title-lp-2 {
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    line-height: 33px;
    margin: 0;
}

.blue-btn {
    font-weight: 700;
    font-size: xx-large;
    line-height: 2rem;
    color: white;
    background-color: #186fbb;
    
}

.blue-btn:hover, .blue-btn.active {
    color:white;
    background-color: #0aab6c;
    border-color:#0aab6c;
}

.home-2-text .blue-btn:hover, .home-2-text .blue-btn.active {
    color: #0aab6c;
    background-color: white;
    border-color: white;
}

.green-btn {
    background-color: #0aab6c; border-color: #0aab6c;color: white;font-weight: 700;font-size: x-large; max-width: 285px;
  }

.green-btn:hover, .green-btn:hover, .green-btn:hover, .green-btn.active {
    color:white;
    background-color: #186fbb;
    border-color:#186fbb;
}

.yellow-btn {
    background-color: #f1c91e; border-color: #f1c91e;color: #0a2d44;font-weight: 700;font-size: x-large;
  }

.yellow-btn:hover, .yellow-btn:hover, .yellow-btn:hover, .yellow-btn.active {
    color:white;
    background-color: #0aab6c;
    border-color:#0aab6c;
}

.subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    color: #737373;
    line-height: 3.0rem;
}

.subtitle-2{
    text-align: center;
    font-weight: 300;
    font-size: 2.2rem;
    color: #737373;
    line-height: 3.0rem;
}

.home-2 {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.home-2-title {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.home-2-divider {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-2-content {
    position: absolute;
    top: 36%;
    left: 0%;
}

.home-2-video {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 43%;
}

.home-2-text {
    display: grid;
    position: absolute;
    top: 45%;
    left: 21%;
    color: #01253d;
}

.home-2-text img {
    width: 50%;
    margin-right: 9px;
}

.home-2-text p {
    text-align: right;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.3rem;
    margin-left: auto;
    width: min-content;
    margin-top: auto;
    margin-right: 10px;
    min-width: 245px;
}

.line {
    width: 80%;
    height: 5px;
    border-bottom: 6px solid #9fa2a5;
    position: absolute;
}

.plano-shadow {
    box-shadow: 0.8rem 0.6rem 1rem rgba(0,0,0,1.175)!important;
}

.wavy-line {
    display: flex;
}

.wavy-line img {
    width: 320px;
    margin: auto;
}

.wavy-line-alt {
    width: 85%; margin:0; opacity: 35%;
}

.wavy-line-login {
  margin:0; opacity: 35%;
}

.wavy-line-login img{
    width: 100%;
}   

.wavy-line-alt img {
    width: 100%;
    margin: auto;
}

.box {
    clip-path: polygon(0 13%, 80% 3%, 100% 100%, 0% 100%);
    width: 620px;
    height: 620px;
    transform: scaleX(-1);
    background-image: linear-gradient(to right, rgb(0 70 120) , rgb(0 36 61));
}

.parallax {
    /* The image used */
    background-image: url("../img/background_3.png");
  
    /* Set a specific height */
    min-height: 545px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .circle {
    height: 318px;
    width: 320px;
    background-color: rgb(1 37 61);
    border-radius: 50%;
    margin-left: auto;
    top: 15%;
    left: 15%;
    z-index: 1;
  }

  .shape-1 {
    clip-path: polygon(0 0%, 100% 0%, 100% 78%, 0% 100%);
  }

  .shape-2 {
    clip-path: polygon(0 0%, 100% 5%, 100% 85%, 0% 100%);
  }

  .line-2 {
    bottom: 0;
    right: 22%;
    width: 107%;
    border-bottom: 14px solid #01253d
  }

  .rodape {
    background-image: linear-gradient(to right, rgb(110, 179, 0) , rgb(4, 150, 118));
  }

  .rodape p {
    color: white;
    margin-top: 21px;
    text-align: center;
    font-family: 'Nunito';
}

    .rodape p img {
        margin-left: 5px;
        width: 45px;;
    }

    .bg_line_top {
        width: 216px;height: 26px;bottom: 5%;left: 29%;background: #0aab6c;
    }

    .bloco_1 {
        width: 426px;
        margin-left: auto;
        color: #01253d;
        margin-top: 7rem;
    }

    .bloco_1 p {
        text-align:center;
    }

    .bloco_1_2 {
        width: 60%; margin-top: 25%; margin-right: 0%; bottom: 9%;left: 42%;
        margin-left: auto;
        color:#01253d;
    }

    .bloco_1_2 p {
        text-align:left;
    }
    
    .bloco_2 {
        height: 500px; width: 600px; left:4%;
    }

    .bloco_2 .bg_banner_top {
        left: 4%; height: 100%;
    }

    .bloco_2 .el_circle {
        top: 15%;left: 5%;height: 25%;
    }
    
    #el_wavy_1 {
        top: 1%;right: 4%;height: 15%;
    }

    #el_bean_1 {
        top: 11%;left: 37%;height: 9%;
    }

    #el_bean_2 {
        top: 80%;left: 7%;height: 9%;transform: rotate(213deg);
    }

    #professora_1 {
        top: 16%;left: 2%;height: 85%;
    }

    #professora_2 {
        bottom: 26%;
        left: 15%;
        z-index: 1;
        height: 71%;
    }

    #el_seta_v {
        top: 45%;
        left: 88%;
        height: 19%;
    }

    .plano-header {
        margin-bottom: -77px;z-index: 5;display: block;height: 65px; background-image: linear-gradient(to right, rgb(110, 179, 0) , rgb(4, 150, 118));
    }

    .plano-header h2 {
        text-align: center; color:white; font-weight: 700; margin:auto;
    }

    .plano-body {
        width: 230px; height: 300px; z-index: -1; position: relative; padding-top: 34%; padding-bottom: 12%; border-color: #504f4fcf !important;
    }

    .plano-body p {
        color: #6c6e71;margin-bottom: 0;text-align: center;
    }

    .plano-body h2 {
        margin-top: -28px;
        width: fit-content;
        margin-left: 20%;
        font-size: 7.5rem;
        font-weight: 700;
        color: #0d6efd;
    }

    .plano-btn {
        background-color: #0aab6c; border-color: #0aab6c;color: white;font-weight: 700;font-size: x-large;
    }

    .plano-body .plano-preco-a {
        font-size: x-large;top: 38%;font-weight: 500;
    }

    .plano-body .plano-preco-b {
        font-size:xx-large; font-weight: 700; top: 14%;
    }

    .plano-body .plano-preco-c {
        font-size: 1rem;top: 40%;
    }

    .plano-destaque {
        background-color: #0178ca !important;
    }

    .plano-destaque p{
        color: white;
    }

    .plano-destaque h2{
        color: white;
    }

    #homeBannerBottom p {
        text-align: justify;
        font-family: 'Nunito';
        font-weight: 700;
    }

    #homeBannerBottom h3 {
        font-family: 'Lufga';
        font-weight: 800;
        color: #0aab6c;
        margin-bottom: 0;   
    }

    #homeBannerBottom .depoimento {
        background-image: url('../img/bg_depoimento.png'); background-repeat: no-repeat; background-size: cover; color: white; padding-right: 4rem!important;
        padding-left: 4rem!important;
        padding-top: 2.4rem;
        height: 20rem;
    }

    .depoimento p {
        height: 150px;
    }

    #aluno_med {
        top: -9%;
        left: 15%;
        height: 109%;
    }

    .text-border {
        -webkit-text-stroke-color:#01253d;
        -webkit-text-stroke-width:2px;
        color: white;
        font-size: 6rem !important;
    }

    .section-2 {
        margin-bottom: 180px;
        padding-top: 100px;
    }

    #section-questions {
        padding-top: 100px;
        margin-bottom: 4%;
    }

    #homeBannerBottom .image {
        width: 100%;
        height: 20rem;
        background-size: cover;
        background-position: center;
    }

    .section-1 {
        margin-top: 1rem;
        /* margin-bottom:5rem; */
    }

    .section-1 form {
        font-family: 'Nunito';
        text-align: justify;
        font-size: x-small;
        color: #a5a5a5;
    }

    .section-1 form input {
        padding: 2px 5px;
        font-size: 14px;
        background: white;
        border-radius: 15px !important;
    }

    .section-1 form .form-label {
        margin-bottom: 0px;
    }

    .section-1 form .form-check {
        padding: 0px 50px;
        margin-bottom: -98px !important;
        z-index: 2;
        position: relative;
    }

    .section-1 form .form-check-label {
        line-height: 12px;
        font-size: 10px;
    }

    .section-1 form .form-check-label-2 {
        color: #adb5bd;
        margin-top: .5rem;
        line-height: 10px;
        font-size: 9px;
    }

    .section-2 .bloco-texto {
        width: 590px; height: 300px; margin: auto; margin-top: 5rem!important;color:white;
    }

    .section-2 .bloco-texto .big-title{
        text-align: left;
    }

    .section-4 .bloco-texto .text-content{
        margin: 4rem; padding: 0px 8rem; text-align: center; font-size: 2rem;margin-top: 2rem;
    }

    .section-4 {
        margin-bottom: 1.5rem; padding-top: 90px;
    }

    .section-5 {
        margin-top:10rem;
        padding-top:100px;
    }

    .section-6 {
        margin-bottom: 4%; padding-top: 100px;
    }

    .section-7 {
        margin-bottom: 12rem;
    }

    .image-mobile {
        display: none;
    }

    .carousel-control-prev-icon {
        top: 50%; left: -7%;
        background-image: url("../img/seta_esquerda.png");
        border-color: #f8f9fa;
        border-radius: 50%;
    }

    .carousel-control-next-icon {
        top: 50%; right: -7%;
        background-image: url("../img/seta_direita.png");
        border-color: #f8f9fa;
        border-radius: 50%;
    }

    .carousel-ver-todos {
        top: -10%;right: 42%;
        height: 32px;
        line-height: 18px;
        background-color: #0178ca;
        border-color: #f8f9fa;
    }

   /*  .carousel-ver-todos:hover {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    .carousel-control-prev-icon:hover {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    .carousel-control-next-icon:hover {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }
 */
    #hv-carousel {
        width: 582px;
        height: 330px; 
    }

    #row-section .blue-btn {
        font-size: large;
        width: 237px;
        height: 39px;
        top: 92%;
        line-height: 2px;
        left: 375px;
    }

    .aprovado-btn button {
        margin: auto;
    }

    .aprovado-btn .col {
       display: flex;
    }

    .site {
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }

    .plano-principal .plano-body {
        width: 314px;
        height: auto;
        z-index: -1;
        position: relative;
        padding-top: 18%;
        padding-bottom: 12%;
        border-color: #504f4f70 !important;
    }

    .plano-principal .plano-header {
        margin-bottom: -187px;
        z-index: 5;
        width: 383px;
        margin-left: -33px;
        height: 126px;
        background-image: linear-gradient(to right, rgb(10 171 108) , rgb(16 199 128));
    }

    .plano-principal .plano-header p {
        margin: 0;
        padding: 0;
        color: white;
        line-height: 45px;
        font-weight: 600;
        text-align: center;
        font-size: 3.7rem;
    }

    .plano-body .vantagens p {
        color: #6c6e71;
        margin-bottom: 0;
        margin-left: -2px;
    margin-right: -10px;
        text-align: left;
    }

    .plano-body .vantagens i {
        color: rgb(10 171 108);
        margin-right: 5px;
    }


    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes line-show {
    from {margin: 0px 200px;}
    to {margin: 0px;}
    }

    /* Standard syntax */
    @keyframes line-show {
    from {margin: 0px 200px;}
    to {margin: 0px;}
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes img-show {
    from {opacity: 0;}
    to {opacity: 100%;}
    }

    /* Standard syntax */
    @keyframes img-show {
        from {opacity: 0;}
        to {opacity: 100%;}
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes shadow-show {
    from {
        -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
        -webkit-box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);
        box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);
    }
    }

    /* Standard syntax */
    @keyframes shadow-show {
    from {-webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;box-shadow: 0px 0px 0px 0px #e0e0e0;}
    to {-webkit-box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);}
    }

    .section-7 .reportagem-content {
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #099871;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .section-7 .card-wrapper {
        width: 240px;
        height: 200px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid rgb(0 0 0 / 20%);
        margin: 2rem auto;
        box-shadow: -20px -20px 0px 0px rgb(0 0 0 / 13%);
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
    }

    .section-7 .card-wrapper:hover {
        width: 240px;
        height: 200px;
        background-color: #0178ca;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid transparent;
        margin: 2rem auto;
        box-shadow: -20px -20px 0px 0px rgb(0 0 0 / 13%);
        border-radius: 10px;
        cursor: pointer;
    }

    .animate-reportagem-card {
        -webkit-animation-name: shadow-show;
        -webkit-animation-duration: 1.5s;
        animation-name: shadow-show;
        animation-duration: 1.5s;
        transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
        animation-fill-mode: forwards;
    }

    .section-7 .card-wrapper p {
        text-align: center; 
    }

    .section-7 .reportagem-img {
        background-size: contain;
        background-color: #3eb378a8;
        background-position: center;
        width: 95px;
        height: 95px;
        border-radius: 5rem;
        margin-top: 1rem;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
        transition: .3s;
    }

    .section-7 .card-wrapper:hover .reportagem-img {
        background-size: contain;
        background-color: #3eb378a8;
        background-position: center;
        width: 100px;
        height: 100px;
        border-radius: 5rem;
        margin-top: 1rem;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    .animate-reportagem-img {
        -webkit-animation-name: img-show; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
        animation-name: img-show;
        animation-duration: 1.5s;
    }

    .section-7 h2 {
        text-align: left;
        font-weight: 800;
        font-size: x-large;
        color: #043f67;
    }

    .section-7 .card-wrapper:hover h2 {
        text-align: left;
        font-weight: 800;
        font-size: x-large;
        color: white;
    }

    .section-7  hr{
        display: block;
        border: none;
        height: 3px;
        background-color: #099871;
        opacity: 60%;
        margin: 0px;
    }

    .section-7 .card-wrapper:hover hr{
        display: block;
        border: none;
        height: 3px;
        background-color: white;
        margin: 0px;
    }

    .animate-reportagem-hr {
        -webkit-animation-name: line-show; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
        animation-name: line-show;
        animation-duration: 0.7s;
        -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
        -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
        transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000); /* custom */
    }

    *{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .card-reportagem {
        padding: 15px;
        display:flex;
        margin:auto;
        cursor: pointer;
    }

    .section-7 .reportagem-img-alt {
        width: auto;
        max-height: 65px;
        margin:auto;
    }

    .section-7 .reportagem-content-alt {
        display:flex;
        margin-top: 3rem;
    }

    .reportagem-col {
        display: flex;
    }

    #info-box .content {
        width: 480px;
    }

    @media only screen and (min-width: 1700px) {

        #professora_2 {
            left: 20% !important;
        }

        .circle {
            left: 20% !important;
        }

    }

    #logout-btn {
        height: 28px;
        padding: 0.2rem .7rem;
        font-style: normal;
        font-weight: bold;
        font-family: 'Lufga';
        line-height: 23px !important;
        font-size: .8rem;
        padding-right: .5rem;
        border-radius: 1.25rem !important;
        padding-left: .5rem;
        margin:auto;
    }

    
    .section-5 .plano {
        width: 272px;
    }

    
    .rodape .row-2 a {
        text-decoration: none;
        color: white;
    }

    .rodape .row-2 a:hover {
        font-weight: 600;
    }

    .rodape {
        /* padding: 0px 3rem !important; */
        display: flex;
    }

    .rodape .rodape-container {
        max-width: 1000px;  
        margin:auto;
    }

    .rodape .social-media {
        margin: 0px .3rem;
        border: 2px solid white;
        color: white;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        display: flex;
    }

    .rodape .social-media:hover,
    .rodape .social-media:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    }

    .rodape p .logo-re9:hover,
    .rodape p .logo-re9:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    }

    .rodape i {
        margin: auto;
    }

    .rodape .row-2 span {
        margin: 0px 1rem;
    }

    .rodape .social-media-wrapper {
        display: inline-flex;
        margin-left: auto;
    }

    @media only screen and (max-width: 600px) {
        /* For phones: */

        .section-7 {
            margin-bottom: 5rem;
        }

        .section-7 .reportagem-content-alt {
            margin-top: 1rem;
        }

        .rodape p {
            text-align: center !important;
        }

        .rodape .row-2 span {
            margin: 0px .5rem !important;
        }

        .rodape .social-media-wrapper {
            margin-top: 17px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
        }

        .rodape .row-2 .col-links {
            margin-top: 1rem;
        }

        .rodape .logo-wrapper {
            margin: auto !important;
        }

        #info-box .content {
            width: unset;
        }

    }


@media only screen and (max-width: 1500px) {
    .home-2-text {
        left: 15%;
    }
}

@media only screen and (max-width: 600px) {
    /* For phones: */

    .plano-vantagens p {
        margin-right: unset;
    }

    .section-5 {
        padding-top: unset;
        padding-top: 87px;
    }

    .wavy-line-alt {
        width: 100%;
    }

    .plano-title {
        text-align: center !important;
        margin: 1.5rem!important;
    }

    .big-title-lp {
        font-size: xxx-large !important;
    }

    .section-5 .plano-container {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .plano .bloco {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    .section-5 .plano {
        width: 272px;
    }

    .section-5 .desktop {
        display: none !important;
    }

    .section-5 .mob {
        display: block !important;
    }

    .section-5 {
        margin-top:unset;
    }

    .my-home-container {
        margin-top: 50px !important;        
    }
    
    .carousel-indicators li {
        background-color: black;
        border: 1px solid !important;
    }

    .section-6 {
        margin-bottom: 4%; padding-top: 6rem;
    }

    .section-6 .wavy-line {
        margin-bottom: unset;
    }

    #hv-carousel {
        width: 100%;
        height: auto;   
    }

    body {
        overflow-x:hidden;
        width: 100%;
    }

    .rodape {
        margin-top: 1rem;
    }

    .image-mobile {
        display: flex; width: 100%; height: 250px;
    }

    .image-mobile div {
        width: 180px;
        height: 180px;
        margin: auto;
        background-position: center;
        background-size: cover;
        border-radius: 90px;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
    }

    #homeBannerBottom {
        border: solid 1px gray;
        border-radius: 10px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #homeBannerBottom .image {
       display:none;
    }

    #homeBannerBottom .depoimento {
        height: 32rem;
        padding-right: 2rem !important;
        padding-left: 2rem !important;
        padding-top: 1rem !important;
        color: #01253d;
        background-image: none;
    }

    .depoimento p {
        height: auto;
    }

    .parallax {
        /* The image used */
        background-image: url("../img/background_3.png");
      
        /* Set a specific height */
        min-height: 710px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .blue-btn {
        font-size: large;
    }

    .bloco {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }

    .home-2-title {
       margin: 0;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .subtitle-2 {
        font-size: 1.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .section-4 {
        padding-top: 3rem;
    }

    .section-3 .row {
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }

    .section-4 .bloco-texto .text-content{
        text-align: center;
        font-size: 1rem;
        margin-top: 2rem;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    #section-questions {
        padding-top: 0px;
        margin-bottom: 4%;
    }

    .home-column-item img {
        margin-right: 15px;
    }

    .home-2-text {
        position: absolute;
        top: 56px;
        left: 92px;
        color: #01253d;
    }

    .home-2-text p{
        line-height: 25px;
        text-align: center;
        margin-bottom: 1rem;
        font-size: x-large;
    }

    .home-2-text button {
        margin: auto !important;
    }

    .home-2-text img {
        width: 85px;
        margin:auto;
    }

    .home-2-text div {
        display: flex;
    }

    .home-2 .big-title {
        margin-top: 40px;
        margin-bottom: 5px;
    }

    .home-2 {
        position: relative;
        text-align: center;
        min-height: 350px !important;
        color: white;
      }
    
      #row-section {
        height: 450px;
      }

    .section-2 .bloco-texto {
        width: auto;
        height: auto;
        margin: auto;
        padding: 2rem;
        margin-top: 0% !important;
        color: white;
    }

    .col_bloco_1 {
        margin-bottom: 0rem !important;
    }

    .section-1 {
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    .wavy-line img {
        width: 85%;
        margin: auto;
    }

    .home-2-video {
        z-index: 1;
        position: absolute;
        top: 82%;
        left: 0;
    }

    .float{
        animation: unset !important;
    }

    .home-2-video iframe {
        height: 210px;
    }

    .carousel-control-prev-icon {
        top: 106%;
        left: 34%;
    }

    .carousel-control-next-icon {
        top: 106%;
        right: 35%
    }

    .carousel-ver-todos {
        top: -20%;
        left: 5%;
    }

    .section-2 {
        margin-bottom: 130px !important;
        padding-top: 1rem;
    }

    .aprovado-btn {
        margin-top: 3rem!important;
        margin-bottom: 3rem!important;
        margin-right: .5rem!important;
        margin-left: .5rem!important;
    }

    .circle {
        height: 307px;
        width: 310px;
        z-index: 1;
        top: 74%;
        left: 15%;
    }
    
    #professora_2 {
        top: 67%;
        left: 16%;
        z-index: 1;
        height: 51%;
    }

    .bloco_2 .el_circle {
        top: 15%;left: 18px;height: 25%;
    }

    .bg_line_top {
        height: 26px;
        bottom: 7%;
        left: 23%;
    }

    #professora_1 {
        top: 16%;left: 0;height: 85%;
    }

    .bloco_2 .bg_banner_top {
        right: 0; height: 100%;
    }

    .bloco_2 {
        display: none;
    }

    .bloco_1 {
        width: 100%;
        margin-top: 0%;
        padding: 1.3rem;
    }

    .bloco_1 .p1{
        margin-bottom: 1rem !important;
    }

    .bloco_1 .p2{
        margin-bottom: 1rem !important;
    }

    .bloco_1 button {
        margin: auto;
        padding: revert !important;
    }

    .bloco_1_2 {
        width: 100%;
        bottom: 6%;
        left: 0%;
        margin-left: unset;
        margin-top: 0%;
        padding: 1.3rem;
    }

    .bloco_1_2 p {
        text-align: center;
        margin-bottom: 1rem !important;
    }

    .bloco_1_2 button {
        margin: auto;
        padding: revert !important;
    }

    .bloco_1 p {
        text-align: center;
    }

    .big-title {
        font-size: 2rem;
        line-height: 2.0rem;
    }

    .home-column-item p {
        font-size: 1rem;
        line-height: 25px;
    }

    .bottom-btn {
        font-size: large;
    }

    .plano-card {
        width: 230px;
        height: 300px;
        z-index: -1;
        position: relative;
        padding-top: 6rem;
        padding-bottom: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .section-1 form .form-check {
        margin: 10px 0px !important;
        z-index: 2;
        position: relative;
    }
}