@media only screen and (max-width: 600px) {
    #planos-section-1 {
        width: 184% !important;
        height: 235px !important;
        margin-bottom: 4rem!important;
        border-bottom-right-radius: 100% !important;
    }

    #planos-section-1 .bloco{
        width: 58% !important;
    }

    .faq-imagem {
        display: none !important;
    }

    #planos-section-1 .row {
        width: 100% !important;
    }

    .user-box {
        margin-bottom: 3rem !important;
    }

    .pagamento-info-box {
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: unset !important;
    }

    .pagamento-info-box .big-title {
        font-size: larger !important;
        line-height: unset !important;
        text-align: center !important;
        margin-bottom: .5rem !important;
    }

    .block {
        box-shadow: unset !important;
    }

    #pagamento-plano-select {
        width: 200px !important;
        margin: auto;
    }

    .pagamento-info-box .content {
        padding-top: .5rem!important;
        padding-bottom: .5rem!important;
    }

    .user-box p {
        font-size: larger !important;
    }

    .user-box form {
        padding: 1rem !important;
    }

    .user-box button {
        font-size: initial !important;
    }

    .pagamento .user-box .content {
        padding-bottom: 1rem !important;
    }

    .login-box .content {
        padding: 1rem !important;
    }

    #planos-section-2 .plano-container {
        margin-bottom: 3rem;
    }

    #planos-section-2 .plano .bloco {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    #planos-section-2 .plano {
        width: 272px;
        margin-bottom: 10% !important;
        margin-top: 3rem;
        margin-left: 47px;
    }

    #login-box .block {
        margin: 1rem !important;
    }

    .pagamento-info-box a {
        text-align: center;
    }
    
    
}

/* FIM DO CODE MOBILE */

#planos-section-2 .plano {
    width: 272px;
}


#cupom-img {
    width: 52%;
    border: 3px solid #b3ad3e5c;
    border-radius: 5px;
    margin: auto;
}

#cartao-img {
    width: 60%;
    margin: 15px;
}

#boleto-img {
    width: 20%;
    margin: 15px;
}

#finalizar_compra input {
    width: 100%;
    text-align: left;
    background-color: #3eb378;
    color: #fff;
    cursor: pointer;
    border: 1px solid #0178ca;
    border-radius: .25rem;
    font-family: 'LUFGA';
    font-weight: 700;
}

.pagamento-info-box .big-title {
    text-align: left;
    font-size: xx-large;
    font-weight: 800;
    line-height: 3.0rem;
    margin: 0;
}

#planos-section-1 {
    background-image: url("../img/planos-bg.png");
    width: 120%;
    height: 550px;
    background-size: contain;
    border-bottom-right-radius: 90%;
    color: white;
    margin-bottom: 7%;
    
   /*  background: linear-gradient(44deg, #19d275, #3eb378);
    height: 380px;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    color: white;
    margin-bottom: 5rem; */
}

#planos-section-1 img {
    width: 255px;
    height: auto;
    margin: auto;
}

#planos-section-1 .subtitle {
    color: white;    
}

#planos-section-1 .row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;  
}

/* INICIO LOGIN E CADASTRO */

.user-box button {
    width: 100%;font-size: larger;font-weight: bolder;
}

.user-box p {
    height: 57px;
    text-align: center;
    font-size: xx-large;
    background: #3eb378;
    color: white;
    line-height: 54px;
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
}

.user-box .block {
    border: 1px #3eb378 solid;
    border-radius: 1rem;
    min-height: 545px;
}

#login-box .block {
    border: 1px #3eb378 solid;
    border-radius: 1rem;
    max-width: 28rem;
    min-height: unset !important;
}

.user-box form {
    padding: 0rem 1rem;
    min-height: 435px;
    display: inline-grid;
    margin: auto 34px;
}

#login-box form {
    padding: 3rem;
    min-height: unset !important;
    display: block !important;
    margin: unset !important;
}

.user-box {
    margin-bottom: 11.5rem;
}

.has-validation {
    margin-bottom: 25px !important;
}

.block {
    box-shadow: rgba(62, 179, 120, 1) -5px 5px, rgba(62, 179, 120, 0.3) -10px 10px, rgba(62, 179, 120, 0.2) -15px 15px, rgba(62, 179, 120, 0.1) -20px 20px, rgba(62, 179, 120, 0.05) -25px 25px;
}

.normal-text {
    font-family: 'Nunito' !important;
    height: unset !important;
    text-align: left !important;
    font-size: unset !important;
    color: unset !important;
    line-height: unset !important;
    border-top-left-radius: unset  !important;
    border-top-right-radius: unset !important;
    background: unset !important;
}

label {
    font-weight: 700;
}

.cadastro-sucesso-titulo {
    text-align: center !important;
    font-weight: 600 !important;
    font-size: xx-large !important;
    line-height: 3.0rem !important;
    margin: 0 !important;
    color: #a5a4a4 !important;
    background:unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
}

.cadastro-sucesso-subtitulo {
    text-align: center !important;
    font-weight: 600 !important;
    font-size: x-large !important;
    line-height: 3.0rem !important;
    margin: 0 !important;
    color: #a5a4a4 !important;
    background:unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
}

.warning-text {
    font-weight: 500;
    font-family: 'Nunito' !important;
    height: unset !important;
    text-align: center !important;
    font-size: large !important;
    color: red;
    line-height: unset !important;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
    background: unset !important;
}

.pagamento-info-box {
    margin-top: 2.2rem;
    background: #2c7ff9;
    color: white;
    box-shadow: #2c7ff9 -5px 5px, #2c7ef9c9 -10px 10px, #2c7ef993 -15px 15px, #2c7ef967 -20px 20px, #0d6dfd10 -25px 25px;
}