p {
    font-family: 'Nunito';
    text-align: justify;
    word-wrap: break-word;
}

p strong {
    font-weight: 800;
    font-size: 17px;
    font-family: 'Lufga';
}

.corpo2 {
    padding-bottom: 30px;
}

.ident {
    text-indent: 50px;
}

#corpo {
    margin-top: 75px;
}