@media only screen and (max-width: 600px) {

    .text-container-impar .big-title {
        font-size: xx-large !important; 
        line-height: 2rem !important;
        margin-left: 1rem !important;
        margin-right: auto !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .text-container-par-mob .big-title {
        font-size: xx-large !important; 
        line-height: 2rem !important;
        margin-right: 1rem !important;
        margin-left: auto !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .videoaulas-container {
        height: auto !important;
        width: 100% !important;
        padding: .7rem !important;
    }

    .videoaulas-container-impar hr {
       display: none !important;
    }

    .videoaulas-container-par hr {
        display: none !important;
     }

    .videoaulas-container-impar img {
        left: 8px;
        height: 70px !important;
        width: 70px !important;
        margin: unset !important;
        transform: none !important;
    }

    .videoaulas-container-par img {
        right: 8px;
        height: 70px !important;
        width: 70px !important;
        margin: unset !important;
        transform: none !important;
    }

    .videoaulas-container-impar .iframe-container {
        position: relative !important; 
        width: 100% !important;
        height: auto !important;
        left: 0 !important;
    }

    .videoaulas-container-par .iframe-container {
        position: relative !important; 
        width: 100% !important;
        height: auto !important;
        right: 0 !important;
    }

    .desktop {
        display: none !important;
    }

    .text-container-impar, .text-container-par-mob {
        display: flex !important;
        width: 100% !important;
        padding: 1rem !important;
        top: -33% !important;
        transform: none !important;
    }

    .text-container-impar, .text-container-par-mob  {
       right: 0 !important;
    }

    .my-video-container .control {
        float: unset !important;
        display: flex !important;
        height: auto !important;
        width: 100% !important;
        position: unset !important;
        padding: .5rem !important;
    }

    .my-video-container .control .prev {
        width: fit-content !important;
        margin-top: auto;
        margin-bottom: auto;
    }

    .my-video-container .control .indicators {
        width: fit-content !important;
        margin: auto !important;
        padding: .5rem !important;
    }

    .my-video-container .control .next {
        width: fit-content !important;
        margin-top: auto;
        margin-bottom: auto;
    }

    .video-padding-container {
        height: auto !important;
        padding-top: 6.5rem !important;
    }

    .my-video-container .carousel {
        display: block !important;
        width: 100%;
    }

    .my-video-container .carousel-control-next {
        position: unset !important;
    }

    .my-video-container .carousel-control-prev {
        position: unset !important;
    }

    .my-video-container .carousel-control-prev-icon,  .my-video-container .carousel-control-next-icon {
        top: 106%;
        left: 34%;
        padding: 6px;
    }

    #videos-bar {
        padding-left: 2rem !important;
    }

    #video-section-2 {
        margin: -2rem !important;
    }

    .prev button {
        width: 55px !important;
        height: 32px !important;
        font-size: large !important;
        line-height: 35px !important;
    }

    .next button {
        width: 55px !important;
        height: 32px !important;
        font-size: large !important;
        line-height: 35px !important;

    }

    .videoaulas-container iframe {
        border-top-right-radius: .9rem;
        border-top-left-radius: .9rem;
        height: 210px !important;
    }

    .mask_video {
        border-top-right-radius: .9rem;
        border-top-left-radius: .9rem;
    }

    .my-video-container {
        margin-top: 4.3rem !important;
    }

    #to-top-btn {
        bottom: 15px !important;
        left: 85% !important;
        height: 50px !important;
        width: 50px !important;
    }

    .my-video-container .video-slide-control {
        color: #ffffffb0 !important;
    }
    
    .my-video-container .video-slide-control:active {
        color: white;
        background: transparent;
        outline: 0;
        opacity: .9;
    }

    .videoaulas-container .vi-lazyload {
        border-top-left-radius: 1rem !important;
        border-top-right-radius: 1rem !important;
    }
       
}

/* END OF MOBILE */

#videos-sidebar {
    width: 0;
    height: 100%;
    background-color: white;
    z-index: 1010;
    top: 83.08px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

#videos-sidebar .sidebar-top{
    width: 100%;
    height: 1rem;
}

#videos-sidebar .sidebar-header{
    background-color: #3eb378;
    display: inline-flex;
    width: 100%;
    color:white;
}

#videos-sidebar .sidebar-header-icon {
    width: 60px;
    height: 60px;
    display: flex;
}

#videos-sidebar .sidebar-header-icon i{
    margin:auto;
    font-size: x-large;
}

#videos-sidebar .sidebar-header-title {
  display: flex;
  width: 100%;
}

#videos-sidebar .sidebar-header-title p{
    margin: auto 1rem;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

#videos-sidebar .sidebar-content {
    overflow-y: scroll;
    height: 100%;
}

#videos-sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

#videos-sidebar ul li {
    height: 3.5rem;
    font-weight: 500;
    color: #444444;
    display: flex;
    border-bottom: 1px solid #dedede;
}

#videos-sidebar ul li:hover {
    background-color: #0a58ca2e;
}

#videos-sidebar ul .selected {
    background-color: #1968af47;
}

#videos-sidebar ul li .sidebar-btn{
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    color:inherit;
    padding: 0px 1rem;
    background-color: transparent;
    margin: auto;
    text-align: left;
    font-weight: inherit;
    text-overflow: clip !important;
    white-space: nowrap;
    overflow: hidden;
}

#videos-sidebar-btn {
    width: 32px;
    height: 60px;
    background: #3eb378;
    color: white;
    z-index: 1010;
    top: calc(83.08px + 1rem);
    position: fixed;
    left: 0;
    display: flex;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.5s;
} 

#videos-sidebar-btn:hover {
    background-color: white;
    color: #3eb378;
}

#videos-sidebar-btn i{
   margin: auto;
} 

#videos-sidebar .sidebar-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #F5F5F5;
}

#videos-sidebar .sidebar-content::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#videos-sidebar .sidebar-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(55, 52, 53, 0.5);
}

.sidebar-item-icon {
    height: 100%;
    width: 4.3rem;
    padding: .5rem;
    background-color: #3eb378;
    display: flex;
}

.sidebar-item-icon img {
    margin: auto;
    height: 100%;
    width: 100%;
}

.video-padding-container .indicators {
    width: 400px;
    padding: .5rem;
    display: flex;
}

.text-container-par-mob {
    display: none;
}

.mask_video {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
    z-index: 1009;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-family: 'Lufga';
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
    display: flex;
}

.mask_video p {
    margin:auto;
}

.video-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    overflow: hidden;
    width: 100vh;
    min-width: 100%;
    min-height: 100vh;
}
#videos-bar button {
    width: max-content;
}

.my-video-container .carousel {
    display: flex; width: 100%;
}

.my-video-container .control {
    float: left;
    display: flex;
    height: 68px;
    width: 485px;
    top: 105%;
    left: 8%;
}

#video-section-1 #video-bg {
    top: 83.08px;
    left: 0;
    width: 100%;
    height: 425px;
    opacity: 75%;
    z-index: 0;
    overflow: hidden;
}

#video-section-2 {
    z-index: 1100 !important;
}

.my-video-container {
    margin: auto;
    max-width: 1302px;
    margin-top: 2.3rem;
}

.my-video-container .divider {
    width: 100%; height: 15rem;
}

#video-section-1 {
    background: linear-gradient(44deg, #19d275, #3eb378);
    height: 421px;
    color: white;
}

#video-section-1 h2 {
    text-align: center;
    left: 50%; /* % of surrounding element */
    transform: translate(-50%, -50%); /* % of current element */
    position: absolute;
}

#video-section-1 iframe {
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; 
}

#video-section-1 video {
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; 
}

#video-section-2 button:focus {
    background: #0d5433 !important;
    font-weight: 700;
}

.video-padding-container {
    height: 555px;
    padding-top: 4rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: block;
}

.videoaulas-container {
    height: 370px;
    width: 1200px;
    margin:auto;
}

.videoaulas-container iframe {
    margin: auto;
}

.videoaulas-container-impar .iframe-container {
    width: 600px;height: 370px;display: flex; border: solid 4px; border-radius: 1rem;
    left: 75px;
    background: linear-gradient(to left , #175075, #0d213e);
}

.videoaulas-container-impar img {
    width: 80px;
    height: 80px;
    transform: translatey(-50%);
}

.videoaulas-container-par .iframe-container {
    width: 600px;height: 370px;display: flex; border: solid 4px; border-radius: 1rem;
    right: 75px;
    background: linear-gradient(to left , #175075, #0d213e);

}

.videoaulas-container-par img {
    width: 80px;
    height: 80px;
    transform: translatey(-50%);
}

.my-video-container .video-slide-control {
    background: #1df18e00;
    width: 66px;
    height: 66px;
    border-radius: 40px;
    color: #175075;
    opacity: 1;
    border: 4px solid;
    font-size: 1.9rem;
    line-height: 1px;
}

.my-video-container .video-slide-control:hover {
    color: #0055ff;
    text-decoration: none;
    text-shadow: 2px 2px 4px #00000059;
    box-shadow: 2px 2px 4px #00000059;
    outline: 0;
    opacity: .9;
}

.my-video-container .video-slide-control:active {
    color: white;
    background: transparent;
    outline: 0;
    opacity: .9;
}


.my-video-container .carousel-indicators {
    width: fit-content;
    height: fit-content;
    display: unset;
    position: initial;
    margin: auto;
}

.my-video-container .carousel-indicators button {
    border: 1px solid;
    border-radius: 12px;
    width: 14px;
    height: 14px;
    border-color: #175075;
}

.my-video-container .carousel-indicators .active {
    opacity: 1;
    background: #175075;
    border-color: #175075 !important;
    border-radius: 13px !important;
    border: 1px solid !important;
}

.my-video-container .carousel-indicators button:focus {
    outline: none;
    border-color: #175075 !important;
}

#to-top-btn {
    bottom: 30px;left: 94%;height: 54px; display: none; box-shadow: 0 1rem 3rem rgba(0,0,0,.3);
}

#videos-bar::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 12px;
}

#videos-bar::-webkit-scrollbar:hover {
    width: 14px;               /* width of the entire scrollbar */
}
  
  
#videos-bar::-webkit-scrollbar-track {
    background: #198754;        /* color of the tracking area */
}

#videos-bar::-webkit-scrollbar-thumb {
    background-color: #ffffff3b;    /* color of the scroll thumb */ 
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #198754;  /* creates padding around scroll thumb */
}

#videos-bar::-webkit-scrollbar-thumb:hover {
    background-color: #ffffffab;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #198754;  /* creates padding around scroll thumb */
}

.text-container-impar img, .text-container-par img {
    margin-left: auto;
    margin-right: auto;
}

.text-container-par p {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.text-container-impar, .text-container-par {
    display: inline-grid;
    width: min-content;
    top: 55%;
    transform: translateY(-50%);
}

.text-container-impar {
    right: 10%;
}

.text-container-par {
    left: 10%;
}


.text-container-impar p {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.text-container-impar .big-title {
    text-align: center;
    font-weight: 800;
    font-size: xxx-large;
    line-height: 3.0rem;
    text-align: left;
    margin: 0;
}

#videos-bar .btn-success {
    background-color: #3eb378 !important;
    border-color: #19875400 !important;
}

.animate_content {
  animation: animate 1s 3s forwards ease;
}

@keyframes animate {
  10% { transform:scale(1,1);}

  10% { transform:scale(1, 0.002);}
   
  65% { transform:scale(0.2, 0.002);
    opacity: 1;}
   
  90% {transform: scale(0.2, 0.002);
    opacity: 0;}
     
  100% {transform: scale(1, 0);
    opacity:0}
    
}

.error-noise {
    position: relative;
    width: 592px;
    height: 362px;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 3;
}

.error-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50% / 5%;
    background: #111;
    background-size: 80%;
    -moz-animation: noise 200ms infinite linear;
    -o-animation: noise 200ms infinite linear;
    -webkit-animation: noise 200ms infinite linear;
    animation: noise 200ms infinite linear;
}

    .error-effect::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 20%;
        background: rgba(255,255,255,0.2);
        -moz-animation: noiseeffect 4000ms infinite linear;
        -o-animation: noiseeffect 4000ms infinite linear;
        -webkit-animation: noiseeffect 4000ms infinite linear;
        animation: noiseeffect 4000ms infinite linear;
        border-radius: 50% / 5%;
    }

    .error-effect::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(transparent 50%, rgba(0,0,0,0.8)), linear-gradient(rgba(255,255,255,0.4) 10%, transparent);
        box-shadow: inset 0 5px 25px rgba(255,255,255,0.2), inset 5px 0 15px rgba(255,255,255,0.2), inset -5px 0 15px rgba(255,255,255,0.1), 0 0 10px rgba(0,0,0,1), inset 0 200px 5px rgba(255,255,255,0.05);
        border-radius: 50% / 5%;
    }

.old-tv-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 40px 20px;
    background-size: 100%;
    border-radius: 50% / 5%;
    -webkit-filter: grayscale(1) brightness(1.2) contrast(1.5);
    -moz-animation: crt-image 20ms alternate infinite;
    -o-animation: crt-image 20ms alternate infinite;
    -webkit-animation: crt-image 20ms alternate infinite;
    animation: crt-image 20ms alternate infinite;
  opacity: 0.9;
}

    .old-tv-content::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(0, #FFF, #FFF 2px, transparent 4px );
        opacity: 0.2;
        border-radius: 50% / 5%;
        -moz-animation: crt-pixels 20ms alternate infinite;
        -o-animation: crt-pixels 20ms alternate infinite;
        -webkit-animation: crt-pixels 20ms alternate infinite;
        animation: crt-pixels 20ms alternate infinite;
    }

@keyframes crt-image {
    0% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes crt-pixels {
    0% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes noise {
    0% {
        background-position: 0px 1000px;
    }

    50% {
        background-position: -1000px;
    }

    100% {
        background-position: 100px 0px;
    }
}

@keyframes noiseeffect {
    0% {
        top: -20%;
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    80% {
        opacity: 0;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}



