/* Custom CSS */

.form-control:focus {
    border-color: #c2d82d;
    box-shadow: 0 0 0 0.2rem rgba(194, 216, 45, .25);
}

.swal-text {
    text-align: center;
}

.slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.banner-imagem {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.15);
}

.slick-active .banner-imagem {
    transform: scale(1);
}

.ajuda-ver-mais {
    margin-top: 10px; 
    border: 1px solid white; 
    border-radius: 8px; 
    padding: 2px 12px; 
    font-size: .75rem;
}
.ajuda-ver-mais:hover {
    border-color: #c2d82d;
}