/*!
 * Curso Somma
 * Copyright 2019
 * Desenvolvido por Re9 Agencia (https://re9agencia.com.br)
 */
.text-primaria {
  color: #073982 !important;
}

.text-secundaria {
  color: #a6c5d1 !important;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .83rem;
  font-weight: bold;
  background-color: #dadada;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1.5px solid;
  font-family: 'Futura Bk BT', sans-serif;
}

.button:hover, .button:focus {
  color: white;
  outline: none;
}

.button.font-weight-default {
  font-weight: 300 !important;
}

.button.button-primaria {
  background-color: #073982;
  color: white;
  border-color: #a6c5d1;
}

.button.button-primaria:hover, .button.button-primaria:focus {
  background-color: #a6c5d1;
  color: #373435;
}

.button.button-secundaria {
  background-color: #a6c5d1;
  color: #373435;
  border-color: #073982;
}

.button.button-secundaria:hover, .button.button-secundaria:focus {
  background-color: #073982;
  color: white;
}

.button-icone {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  color: #1A1A1A;
  padding: 6px 22px;
  border: 1px solid #B3B3B3;
  border-radius: 35px;
  font-weight: 500;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-icone i {
  color: #073982;
  margin-right: 7px;
}

.button-icone img {
  max-height: 1rem;
  max-width: 1rem;
  margin-right: 7px;
}

.button-icone:hover, .button-icone:focus {
  outline: none;
  color: #073982;
  border-color: #073982;
}

.form-element {
  width: 100%;
  padding: 7px 15px 4px;
  font-size: .85rem;
  font-weight: 500;
  color: #1A1A1A;
  border: none;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 10px;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-element:focus {
  border-color: #073982;
}

.form-element::-webkit-input-placeholder {
  color: #073982;
}

.form-element::-moz-placeholder {
  color: #073982;
}

.form-element:-ms-input-placeholder {
  color: #073982;
}

.form-element::-ms-input-placeholder {
  color: #073982;
}

.form-element::placeholder {
  color: #073982;
}

textarea {
  resize: none;
}

label.form-element {
  border: none;
  padding: 0;
  margin: 5px 0 0 10px;
  color: #073982;
}

form a {
  color: #073982;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

form a:hover {
  color: #a6c5d1;
}

@-webkit-keyframes pulseScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulseScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  40% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  40% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1075;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.loading .loading-icon {
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: pulseScale 3s infinite, pulseOpacity 3s infinite;
  animation: pulseScale 3s infinite, pulseOpacity 3s infinite;
}

.loading .loading-icon i {
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.loading p {
  display: block;
  width: 100%;
  margin: 7px 0 0 0;
  text-align: center;
  color: white;
  font-size: .85rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: pulseOpacity 3s infinite;
  animation: pulseOpacity 3s infinite;
}

.loading.show {
  visibility: visible;
  opacity: 1;
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-black/Gotham-Black.woff2") format("woff2"), url("../fonts/gotham-black/Gotham-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url("../fonts/futura-bk-bt/FuturaBT-Book.woff2") format("woff2"), url("../fonts/futura-bk-bt/FuturaBT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 100%;
  background-color: white;
  color: #373435;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1399px) {
  body {
    font-size: 90%;
  }
}

body a, body a:hover {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  z-index: 501;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 991px) {
  header {
    height: auto;
    padding: 9px 0 10px;
  }
}

header .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .logo img {
  display: block;
  max-height: 54px;
  height: 50px;
}

header .logo img.agrimudas-header {
  max-height: 36px;
  margin-left: 20px;
  margin-top: 8px;
}

header .header-center {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px;
}

header .header-center .inscreva-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .header-center .inscreva-se {
    display: none;
  }
}

header .header-center ul.social {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header-center ul.social li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 22px;
  height: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 7px;
  -webkit-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
}

header .header-center ul.social li:last-child {
  margin-right: 0;
}

header .header-center ul.social li:not(.ignorar) {
  border: 1.5px solid #073982;
  border-radius: 5px;
}

header .header-center ul.social li a {
  color: #073982;
}

header .header-center ul.social li a i {
  font-size: .82rem;
}

header .header-center ul.social li.ignorar {
  border: none;
  margin-top: 2px;
}

header .header-center ul.social li.ignorar a i {
  font-size: 26px;
}

header .header-center ul.social li:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

header .menu-responsivo {
  display: none;
  cursor: pointer;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header .menu-responsivo i {
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  header .menu-responsivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header nav ul.menu {
  margin: 0;
  text-align: right;
}

@media (min-width: 992px) {
  header nav ul.menu {
    display: block !important;
  }
}

@media (max-width: 991px) {
  header nav ul.menu {
    display: none;
    padding: 0 0 5px;
    border-top: 1px solid rgba(7, 57, 130, 0.5);
    margin-top: 10px;
  }
}

header nav ul.menu li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 25px;
}

@media (max-width: 991px) {
  header nav ul.menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 7px 0;
  }
}

header nav ul.menu li:last-child {
  margin-right: 0;
}

header nav ul.menu li a {
  color: #382517;
  font-weight: 500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Futura Bk BT', sans-serif;
  font-size: 1.2rem;
}

header nav ul.menu li a:hover {
  color: #073982;
}

header nav ul.menu li.active a:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #073982;
}

header nav ul.menu li.social {
  margin-left: 10px;
}

header nav ul.menu li.social a {
  margin-right: 10px;
}

header nav ul.menu li.social a:last-child {
  margin-right: 0;
}

header nav ul.menu li.dropdown {
  position: relative;
}

header nav ul.menu li.dropdown ul.nav-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 180px;
  background-color: white;
  top: 100%;
  right: 0;
  padding: 7px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav ul.menu li.dropdown ul.nav-dropdown.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

header nav ul.menu li.dropdown ul.nav-dropdown li.nav-dropdown-item {
  width: 100%;
  background-color: transparent;
  margin-bottom: 5px;
  text-align: right;
  padding: 2px 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header nav ul.menu li.dropdown ul.nav-dropdown li.nav-dropdown-item:last-child {
  margin-bottom: 0;
}

header nav ul.menu li.dropdown ul.nav-dropdown li.nav-dropdown-item a {
  text-align: right;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav ul.menu li.dropdown ul.nav-dropdown li.nav-dropdown-item a:hover {
  color: #073982;
}

header nav ul.menu li.dropdown ul.nav-dropdown li.nav-dropdown-item a:after {
  display: none;
}

.margin-header {
  margin-top: 70px;
}

.bg-responsivo {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 500;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.bg-responsivo.show {
  visibility: visible;
  opacity: 1;
}

.banners {
  width: 100%;
  height: 28.54vw;
  position: relative;
  overflow: hidden;
  /*@include breakpoint(xl) {
        height: 55vh;

        .banner-imagem {
            height: 55vh;
        }
    }*/
}

.banners .banner-imagem {
  width: 100%;
  height: 28.54vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .banners {
    height: 100vw;
  }
  .banners .banner-imagem {
    height: 100vw;
  }
}

.banners .banner-prev, .banners .banner-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 51;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out !important;
  transition: all .3s ease-in-out !important;
  visibility: hidden;
  opacity: 0;
}

.banners .banner-prev i, .banners .banner-next i {
  font-size: 1.5rem;
  color: #9c8c8c;
  -webkit-transition: all .3s ease-in-out !important;
  transition: all .3s ease-in-out !important;
}

.banners .banner-prev:hover, .banners .banner-prev:focus, .banners .banner-next:hover, .banners .banner-next:focus {
  opacity: 1 !important;
}

.banners .banner-prev {
  left: 0;
}

.banners .banner-next {
  right: 0;
}

.banners:hover .banner-prev, .banners:hover .banner-next {
  opacity: .7;
  visibility: visible;
}

@media (max-width: 767px) {
  .banners:hover .banner-prev, .banners:hover .banner-next {
    visibility: hidden;
  }
}

.banners:hover .banner-prev {
  left: 10px;
}

.banners:hover .banner-next {
  right: 10px;
}

.quem-somos p {
  text-align: justify;
  font-size: .9rem;
  color: #373435;
  margin-bottom: 15px;
}

.section-destaques {
  width: 100%;
  margin-top: 30px;
}

.section-destaques .destaque-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: transform 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: transform 0.5s cubic-bezier(0.22, 0.68, 0, 1.71), -webkit-transform 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  border-radius: 10px;
  padding: 20px 5px 10px;
}

.section-destaques .destaque-item:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.section-destaques .destaque-item img {
  max-width: 80px;
  max-height: 60px;
  width: 100%;
}

.section-destaques .destaque-item p {
  margin-top: 20px;
  text-align: center;
  color: #073982;
  font-weight: 500;
  line-height: 1.6rem;
}

.section-destaques .destaque-item p strong {
  font-weight: bold;
}

.professor {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/bg.jpg");
  background-size: cover;
}

.professor .professor-foto {
  width: auto;
  position: relative;
}

.professor .professor-foto img {
  width: 85%;
  border-radius: 50%;
  border: 5px solid #073982;
  -webkit-transition: all 0.6s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: all 0.6s cubic-bezier(0.22, 0.68, 0, 1.71);
}

@media (max-width: 767px) {
  .professor .professor-foto img {
    margin: 0 auto 20px;
    display: block;
    width: 70%;
  }
}

.professor .professor-foto .professor-nome {
  padding: 7px 12px;
  background-color: #a6c5d1;
  border-radius: 7px;
  border: 1.5px solid #073982;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(60%);
  transform: translateX(60%);
  font-weight: 500;
  -webkit-transition: all 0.6s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: all 0.6s cubic-bezier(0.22, 0.68, 0, 1.71);
}

@media (max-width: 767px) {
  .professor .professor-foto .professor-nome {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }
}

.professor:hover .professor-foto img {
  border-color: white;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.professor:hover .professor-foto .professor-nome {
  -webkit-transform: translateX(40%);
  transform: translateX(40%);
  background-color: #073982;
  color: white;
  border-color: white;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.professor p {
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 10px;
  line-height: 1.4rem;
  font-family: 'Futura Bk BT', sans-serif;
}

@media (max-width: 767px) {
  .professor p {
    text-align: justify;
  }
}

.planos {
  /*
     * Tamanho reduzido
     */
}

.planos .planos-lista {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .planos .planos-lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.planos .plano-item {
  width: 32%;
  height: 400px;
}

@media (max-width: 767px) {
  .planos .plano-item {
    width: 80%;
    height: auto;
  }
}

.planos .plano-item .plano-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.6s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: all 0.6s cubic-bezier(0.22, 0.68, 0, 1.71);
}

@media (max-width: 767px) {
  .planos .plano-item .plano-container {
    padding: 20px 0;
  }
}

.planos .plano-item .plano-container .plano-titulo {
  font-size: 1.7rem;
  font-weight: bold;
  color: #073982;
}

.planos .plano-item .plano-container .plano-badge {
  display: inline-block;
  font-size: .85rem;
  padding: 1px 18px;
  color: #073982;
  border: 1px solid #073982;
  border-radius: 20px;
  margin: 5px auto 20px;
  font-weight: 500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.planos .plano-item .plano-container .plano-valor {
  font-size: 1.55rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.1rem;
  font-family: 'Gotham', sans-serif;
}

.planos .plano-item .plano-container .plano-valor small {
  font-size: .8rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.planos .plano-item .plano-container ul.plano-beneficios {
  width: 80%;
  margin: 20px auto 10px;
}

.planos .plano-item .plano-container ul.plano-beneficios li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  font-size: .95rem;
  position: relative;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: 'Futura Bk BT', sans-serif;
}

.planos .plano-item .plano-container ul.plano-beneficios li:last-child {
  margin-bottom: 0;
}

.planos .plano-item .plano-container ul.plano-beneficios li::after {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/icons/check_azul.svg");
  background-size: 100% 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
}

.planos .plano-item .plano-container .plano-selecionar {
  width: 80%;
  margin: 0 auto;
}

.planos .plano-item .plano-container .plano-selecionar .plano-button {
  width: 100%;
  margin: 10px auto 0;
  background-color: #073982;
  border-radius: 30px;
  padding: 7px 0;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.planos .plano-item .plano-container:hover {
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 51;
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}

.planos .plano-item .plano-container:hover .plano-badge {
  color: white;
  background-color: #073982;
}

.planos .plano-item:first-child .plano-container {
  border: 1px solid #ccc;
  border-right: none;
  background-image: url("../img/bg_planos_esq.png");
}

.planos .plano-item:last-child .plano-container {
  border: 1px solid #ccc;
  border-left: none;
  background-image: url("../img/bg_planos_dir.png");
}

.planos .plano-item.destaque {
  width: 36%;
  height: 460px;
}

@media (max-width: 767px) {
  .planos .plano-item.destaque {
    width: 80%;
    height: auto;
  }
}

.planos .plano-item.destaque .plano-container {
  border: 1px solid #ccc;
  background-image: url("../img/bg_planos_destaque.png");
}

.planos .plano-item.destaque .plano-container .plano-titulo,
.planos .plano-item.destaque .plano-container .plano-badge {
  color: #ffed37;
  border-color: #ffed37;
}

.planos .plano-item.destaque .plano-container .plano-valor,
.planos .plano-item.destaque .plano-container ul.plano-beneficios {
  color: white;
}

.planos .plano-item.destaque .plano-container .plano-valor li::after,
.planos .plano-item.destaque .plano-container ul.plano-beneficios li::after {
  background-image: url("../img/icons/check_amarelo.svg");
}

.planos .plano-item.destaque .plano-container .plano-button {
  background-color: #ffed37;
  color: #073982;
}

.planos .plano-item:hover {
  z-index: 51;
}

.planos .plano-item:hover.destaque .plano-badge {
  color: #073982;
  background-color: #ffed37;
}

.planos.reduzido .plano-item {
  height: 320px;
}

.planos.reduzido .plano-item .plano-titulo {
  font-size: 1.5rem;
}

.planos.reduzido .plano-item .plano-badge {
  font-size: .8rem;
}

.planos.reduzido .plano-item .plano-valor {
  font-size: 1.45rem;
}

.planos.reduzido .plano-item .plano-valor small {
  font-size: .75rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.planos.reduzido .plano-item .plano-selecionar .plano-button {
  font-size: 1.2rem;
}

.planos.reduzido .plano-item.destaque {
  height: 360px;
}

.plano-selecionado {
  width: 100%;
  background: #e6e7e8;
  border: 1px solid #ccc;
  padding: 10px 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .plano-selecionado {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.plano-selecionado p {
  margin: 0;
}

.plano-selecionado .plano-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #073982;
  margin: 0;
  margin-right: 7px;
}

.plano-selecionado .plano-badge {
  display: inline-block;
  font-size: .75rem;
  padding: 1px 18px;
  color: #073982;
  border: 1px solid #073982;
  border-radius: 20px;
  font-weight: 500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.plano-selecionado .plano-selecionado-dados {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px auto;
}

.plano-selecionado .plano-selecionado-valor {
  border-left: 2px solid #073982;
  padding: 2px 0 3px 8px;
  font-size: .85rem;
}

.plano-selecionado .plano-selecionado-valor .big {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Gotham', sans-serif;
}

.plano-selecionado .button-alterar-plano {
  margin: 0;
}

@media (max-width: 767px) {
  .plano-selecionado .button-alterar-plano {
    margin: 10px auto 0;
  }
}

@-webkit-keyframes pulseShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(7, 57, 130, 0.4);
    box-shadow: 0 0 0 0 rgba(7, 57, 130, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(7, 57, 130, 0);
    box-shadow: 0 0 0 10px rgba(7, 57, 130, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(7, 57, 130, 0);
    box-shadow: 0 0 0 0 rgba(7, 57, 130, 0);
  }
}

@keyframes pulseShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(7, 57, 130, 0.4);
    box-shadow: 0 0 0 0 rgba(7, 57, 130, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(7, 57, 130, 0);
    box-shadow: 0 0 0 10px rgba(7, 57, 130, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(7, 57, 130, 0);
    box-shadow: 0 0 0 0 rgba(7, 57, 130, 0);
  }
}

.finalize-escolha-plano {
  position: fixed;
  bottom: 10px;
  left: 15px;
  background-color: #073982;
  z-index: 500;
  padding: 10px;
  border-radius: 5px;
  max-width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: pulseShadow 2s infinite;
  animation: pulseShadow 2s infinite;
}

.finalize-escolha-plano i {
  font-size: 1.3rem;
  color: white;
  margin-right: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.finalize-escolha-plano p {
  margin: 0;
  color: white;
  font-size: .8rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.finalize-escolha-plano p strong {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.finalize-escolha-plano:hover {
  -webkit-animation: none;
  animation: none;
}

.finalize-escolha-plano:hover p strong {
  color: #ffed37;
}

.login-cadastro {
  width: 100%;
  margin-top: 50px;
}

.login-cadastro .login-cadastro-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 20px 25px;
  border: 1px solid #CCCCCC;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-cadastro .login-cadastro-wrapper h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #073982;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .login-cadastro .login-cadastro-wrapper h2 {
    font-size: 1.1rem;
  }
}

.login-cadastro .login-cadastro-wrapper h2 i {
  font-size: 1.45rem;
  margin-right: 3px;
}

.login-cadastro .login-cadastro-wrapper h2::after {
  content: "";
  display: block;
  margin-top: 8px;
  width: 100%;
  height: 2px;
  background-color: #CCCCCC;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.login-cadastro .login-cadastro-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-cadastro .login-cadastro-wrapper form label {
  color: #1A1A1A;
}

.login-cadastro .login-cadastro-wrapper form button[type="submit"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.login-cadastro .login-cadastro-wrapper:hover, .login-cadastro .login-cadastro-wrapper:focus {
  border-color: #073982;
}

.login-cadastro .login-cadastro-wrapper:hover h2::after, .login-cadastro .login-cadastro-wrapper:focus h2::after {
  background-color: #073982;
}

.plataforma-ajudas {
  width: 100%;
}

@media (max-width: 991px) {
  .plataforma-ajudas {
    margin-bottom: 30px;
  }
}

.plataforma-ajudas .plataforma-ajuda {
  width: 100%;
  margin-bottom: 4px;
  -webkit-transition: height 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: height 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header {
  width: 100%;
  background-color: #f4f5f7;
  border: 1px solid rgba(221, 222, 224, 0.7);
  padding: 10px 35px 10px 15px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header:hover {
  background-color: #ecedef;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header h2 {
  font-weight: 500;
  color: #073982;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header > ul {
  margin: 0;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header > ul li {
  display: inline-block;
  font-size: .9rem;
  font-weight: 500;
  color: rgba(55, 52, 53, 0.85);
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header > ul li::after {
  content: "\f111";
  font-family: "FontAwesome";
  display: inline-block;
  color: rgba(55, 52, 53, 0.2);
  margin: 0 4px 0 8px;
  font-size: .4rem;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header > ul li:last-child::after {
  display: none;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-header .ajuda-close {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1rem;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s, -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-body {
  background-color: white;
  display: none;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-body p {
  font-weight: 500;
  margin: 0;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-body .ajuda-video {
  width: 100%;
  border: 1px solid rgba(221, 222, 224, 0.7);
  border-top: none;
  padding: 10px 15px;
  display: block;
  text-align: justify;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

@media (max-width: 767px) {
  .plataforma-ajudas .plataforma-ajuda .ajuda-body .ajuda-video {
    padding: 10px;
  }
}

.plataforma-ajudas .plataforma-ajuda .ajuda-body .ajuda-video .badge {
  padding: .3em .45em;
  color: #073982;
  background-color: rgba(7, 57, 130, 0.15);
}

.plataforma-ajudas .plataforma-ajuda .ajuda-body .ajuda-video:hover {
  background-color: #fafafa;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-body .ajuda-video p {
  font-weight: 500;
  font-size: .9rem;
  color: rgba(55, 52, 53, 0.8);
  margin-bottom: 7px;
}

.plataforma-ajudas .plataforma-ajuda .ajuda-body .ajuda-video p:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .plataforma-ajudas .plataforma-ajuda .ajuda-body .ajuda-video p {
    font-size: .9rem;
    line-height: 1rem;
  }
}

.plataforma-ajudas .plataforma-ajuda:first-child .ajuda-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plataforma-ajudas .plataforma-ajuda:last-child .ajuda-header {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.plataforma-ajudas .plataforma-ajuda:last-child .ajuda-body .ajuda-video:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.plataforma-ajudas .plataforma-ajuda.show .ajuda-header {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.plataforma-ajudas .plataforma-ajuda.show .ajuda-header .ajuda-close {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

section {
  margin-top: calc($espacamento-sections - 50%);
  padding-top: 60px;
}

@media (max-width: 767px) {
  section {
    padding-top: 40px;
  }
}

.section-title {
  text-align: left;
  width: 100%;
  position: relative;
  /*&:not(.center) {
        h2 {
            padding-left: 30px;

            &::after {
                top: 3px;
                left: 0;
            }
        }
    }*/
}

.section-title .wrap-title {
  margin: 15px auto 30px;
}

.section-title .wrap-title h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  background-color: white;
  z-index: 50;
  display: inline-block;
  padding-right: 30px;
}

@media (max-width: 767px) {
  .section-title .wrap-title h2 {
    font-size: 1.1rem;
  }
}

.section-title .wrap-title h2 span {
  font-weight: 600;
  color: #073982;
}

.section-title .wrap-title::after {
  content: "";
  display: block;
  height: 8px;
  background-color: #073982;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 49;
}

.section-title.left .wrap-title h2 {
  padding-right: 30px;
  padding-left: 0;
  margin: 0;
}

.section-title.left .wrap-title::after {
  width: 70%;
  right: 0;
}

.section-title.center .wrap-title h2 {
  padding-right: 0;
  padding-left: 30px;
  margin: 0 auto;
}

.section-title.center .wrap-title::after {
  width: 50%;
  left: 0;
}

.section-title.center {
  text-align: center;
}

.section-title.center h2::after {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-title p {
  margin: 0 auto 35px;
  width: 60%;
}

@media (max-width: 991px) {
  .section-title p {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .section-title p {
    width: 90%;
  }
}

.gray {
  background-color: #f7f7f7;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer {
  width: 100%;
  margin-top: 60px;
  background-color: #073982;
  position: relative;
  border-top: 10px solid #d8d8d6;
  z-index: 40;
  padding-left: 42%;
  padding-top: 40px;
}

footer::after {
  content: "";
  width: 42%;
  height: 100%;
  position: absolute;
  background-image: url("../img/bg_footer_logo.png");
  background-size: cover;
  background-position: top right;
  top: 0;
  left: 0;
  z-index: 41;
}

@media (max-width: 1399px) {
  footer {
    padding-left: 40%;
  }
  footer::after {
    width: 40%;
  }
}

@media (max-width: 1349px) {
  footer {
    padding-left: 41%;
  }
  footer::after {
    width: 41%;
  }
}

@media (max-width: 1279px) {
  footer {
    padding-left: 44%;
  }
  footer::after {
    width: 45%;
  }
}

@media (max-width: 1199px) {
  footer {
    padding-left: 0;
  }
  footer::after {
    display: none;
  }
}

footer .container {
  width: 85%;
  margin: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  footer .container {
    margin: auto;
  }
}

footer .footer-item {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  color: white;
  text-align: left;
  z-index: 42;
  padding: 12px 0 0;
}

footer .footer-item::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

footer .footer-item a {
  color: white;
  font-size: .8rem;
}

footer .footer-item a:not(.titulo) {
  -webkit-transition: all 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: all 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  display: inline-block;
}

footer .footer-item a:not(.titulo):hover {
  color: #ffed37;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

footer .footer-item .footer-lista {
  margin: 10px 0 0;
}

footer .footer-item .footer-lista li {
  display: block;
  margin: 0;
}

footer .footer-item .footer-lista li::before {
  content: "+";
  margin-right: 5px;
  font-size: .75rem;
}

footer .footer-item .footer-lista li a {
  font-size: .8rem;
  -webkit-transition: all 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: all 0.5s cubic-bezier(0.22, 0.68, 0, 1.71);
  display: inline-block;
}

footer .footer-item .footer-lista li a:hover {
  color: #ffed37;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

footer .footer-item .footer-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

footer .footer-item .footer-social li {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .footer-item .footer-social li:last-child {
  margin-right: 0;
}

footer .footer-item .footer-social li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer-item .footer-social li i {
  font-size: 1.05rem;
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .footer-item .footer-social li:hover {
  background-color: white;
}

footer .footer-item .footer-social li:hover a {
  -webkit-transform: none;
  transform: none;
}

footer .footer-item .footer-social li:hover a i {
  color: #073982;
}

footer .footer-rodape {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid white;
  padding: 15px 0;
}

@media (max-width: 767px) {
  footer .footer-rodape {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

footer .footer-rodape p {
  font-size: .75rem;
  color: white;
}

footer .footer-rodape p a {
  color: #ffed37;
}

@media (max-width: 767px) {
  footer .footer-rodape p:last-child {
    margin-top: 10px;
  }
}
