/* Custom CSS */

/* Documento (aula) */
.aula-documento-item {
    display: flex; 
    align-items: center; 
    width: 100%; 
    background-color: #a6c5d1; 
    color: #373435;
    border-radius: 5px; 
    padding: 14px 13px 12px;
    border: 2px solid #032c67;
    font-weight: 600;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}
.aula-documento-item:hover {
    background-color: #032c67;
    color: white;
}
.aula-documento-icone {
    padding: 0 5px;
    margin-right: 10px; 
    display: flex; 
    align-items: center;
}
.aula-documento-icone i {
    font-size: 1.35rem;
}
.aula-documento-titulo {
    flex: 1; 
    display: flex; 
}