/*!
 * Plataforma Curso
 * Copyright 2019
 * Desenvolvido por Re9 Agencia (https://re9agencia.com.br)
 */
.text-primaria {
  color: #073982 !important;
}

.text-secundaria {
  color: #a6c5d1 !important;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .83rem;
  font-weight: bold;
  background-color: #dadada;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: 1.5px solid;
  font-family: 'Futura Bk BT', sans-serif;
}

.button:hover, .button:focus {
  color: white;
  outline: none;
}

.button.font-weight-default {
  font-weight: 300 !important;
}

.button.button-primaria {
  background-color: #049676;
  color: white;
  margin:auto;
  border-color: #a6c5d1;
}

.button.button-primaria:hover, .button.button-primaria:focus {
  background-color: #a6c5d1;
  color: #373435;
}

.button.button-secundaria {
  background-color: #a6c5d1;
  color: #373435;
  border-color: #049676;
}

.button.button-secundaria:hover, .button.button-secundaria:focus {
  background-color: #049676;
  color: white;
}

.button-icone {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  color: #1A1A1A;
  padding: 6px 22px;
  border: 1px solid #B3B3B3;
  border-radius: 35px;
  font-weight: 500;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-icone i {
  color: #049676;
  margin-right: 7px;
}

.button-icone img {
  max-height: 1rem;
  max-width: 1rem;
  margin-right: 7px;
}

.button-icone:hover, .button-icone:focus {
  outline: none;
  color:#049676;
  border-color: #049676;
}

.form-element {
  width: 100%;
  padding: 7px 15px 4px;
  font-size: .85rem;
  font-weight: 500;
  color: #1A1A1A;
  border: none;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 10px;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-element:focus {
  border-color: #049676;
}

.form-element::-webkit-input-placeholder {
  color: #049676;
}

.form-element::-moz-placeholder {
  color: #049676;
}

.form-element:-ms-input-placeholder {
  color: #049676;
}

.form-element::-ms-input-placeholder {
  color: #049676;
}

.form-element::placeholder {
  color: #049676;
}

textarea {
  resize: none;
}

label.form-element {
  border: none;
  padding: 0;
  margin: 5px 0 0 10px;
  color: #049676;
}

form a {
  color: #049676;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

form a:hover {
  color: #a6c5d1;
}

@-webkit-keyframes pulseScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulseScale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  40% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  40% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1075;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.loading .loading-icon {
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: pulseScale 3s infinite, pulseOpacity 3s infinite;
  animation: pulseScale 3s infinite, pulseOpacity 3s infinite;
}

.loading .loading-icon i {
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.loading p {
  display: block;
  width: 100%;
  margin: 7px 0 0 0;
  text-align: center;
  color: white;
  font-size: .85rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: pulseOpacity 3s infinite;
  animation: pulseOpacity 3s infinite;
}

.loading.show {
  visibility: visible;
  opacity: 1;
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
/* 
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham-black/Gotham-Black.woff2") format("woff2"), url("../fonts/gotham-black/Gotham-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bk BT';
  src: url("../fonts/futura-bk-bt/FuturaBT-Book.woff2") format("woff2"), url("../fonts/futura-bk-bt/FuturaBT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-size: 100%;
  background-color: white;
  color: #373435;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1399px) {
  body {
    font-size: 90%;
  }
}

body a, body a:hover {
  text-decoration: none;
}

.plataforma-header {
  width: 100%;
  background: #073982;
  padding: 30px 0 70px;
}

.plataforma-header .plataforma-header-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .plataforma-header .plataforma-header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.plataforma-header .plataforma-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .plataforma-header .plataforma-perfil {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.plataforma-header .plataforma-perfil .plataforma-perfil-foto {
  width: 70px;
  height: 70px;
  background-color: #dadada;
  border-radius: 50%;
  border: 2px solid white;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .plataforma-header .plataforma-perfil .plataforma-perfil-foto {
    width: 60px;
    height: 60px;
  }
}

.plataforma-header .plataforma-perfil .plataforma-perfil-dados {
  color: white;
  margin-left: 10px;
}

.plataforma-header .plataforma-perfil .plataforma-perfil-dados p {
  color: rgba(255, 255, 255, 0.7);
  font-size: .8rem;
  font-weight: 500;
}

@media (max-width: 767px) {
  .plataforma-header .plataforma-perfil .plataforma-perfil-dados p {
    font-size: .75rem;
  }
}

.plataforma-header .plataforma-perfil .plataforma-perfil-dados h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .plataforma-header .plataforma-perfil .plataforma-perfil-dados h2 {
    font-size: 1.1rem;
  }
}

.plataforma-header .plataforma-perfil .plataforma-perfil-dados h2 .alterar-dados {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: .7rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 7px;
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-header .plataforma-perfil .plataforma-perfil-dados h2 .alterar-dados i {
  color: white;
  -webkit-transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-header .plataforma-perfil .plataforma-perfil-dados h2 .alterar-dados:hover {
  background-color: white;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.plataforma-header .plataforma-perfil .plataforma-perfil-dados h2 .alterar-dados:hover i {
  color: #073982;
}

.plataforma-header .plataforma-plano {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 7px 20px 7px 15px;
  border-right: 3px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

@media (max-width: 991px) {
  .plataforma-header .plataforma-plano {
    width: 80%;
    margin: 10px auto 0;
  }
}

.plataforma-header .plataforma-plano p {
  font-size: .8rem;
  font-weight: 500;
  color: white;
  -webkit-transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

@media (max-width: 767px) {
  .plataforma-header .plataforma-plano p {
    font-size: .75rem;
  }
}

.plataforma-header .plataforma-plano p:first-child {
  opacity: .85;
}

.plataforma-header .plataforma-plano p:last-child {
  opacity: .9;
}

.plataforma-header .plataforma-plano h2 {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  margin: 2px 0;
  -webkit-transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

@media (max-width: 767px) {
  .plataforma-header .plataforma-plano h2 {
    font-size: 1.05rem;
  }
}

.plataforma-header .plataforma-plano:hover {
  border-right-width: 8px;
  border-right-color: white;
  background-color: white;
}

.plataforma-header .plataforma-plano:hover p {
  color: #373435;
}

.plataforma-header .plataforma-plano:hover h2 {
  color: #073982;
}

.plataforma-navegacao {
  width: 100%;
  padding: 10px 0;
  background: #049676;
}

.plataforma-navegacao ul.navegacao {
  margin: 0;
}

@media (max-width: 991px) {
  .plataforma-navegacao ul.navegacao {
    text-align: center;
    margin-bottom: 7px;
  }
}

.plataforma-navegacao ul.navegacao li {
  display: inline-block;
}

.plataforma-navegacao ul.navegacao li::after {
  content: "/";
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 10px;
  font-size: 1rem;
}

.plataforma-navegacao ul.navegacao li:last-child::after {
  display: none;
}

.plataforma-navegacao ul.navegacao li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: .9rem;
  font-weight: 500;
}

@media (max-width: 767px) {
  .plataforma-navegacao ul.navegacao li a {
    font-size: .85rem;
  }
}

.plataforma-navegacao ul.navegacao li.active a {
  color: white;
  font-weight: bold;
}

@media (max-width: 767px) {
  .plataforma-navegacao ul.navegacao li:not(.active) a span {
    display: none;
  }
}

.plataforma-navegacao .plataforma-progresso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .plataforma-navegacao .plataforma-progresso {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.plataforma-navegacao .plataforma-progresso p {
  font-size: .85rem;
  color: white;
  margin-bottom: 4px;
  font-weight: 500;
}

.plataforma-navegacao .plataforma-progresso .barra-progresso {
  width: 200px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.35);
  margin-left: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.plataforma-navegacao .plataforma-progresso .barra-progresso div {
  height: 100%;
  background-color: #ffed37;
}

.plataforma-content {
  width: 100%;
  background: white;
  border: 1px solid #63b00c;
  border-radius: 15px 15px 0 0;
  margin-top: -40px;
  padding: 0 15px 0;
}

.plataforma-content .plataforma-content-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 15px;
}

@media (max-width: 767px) {
  .plataforma-content .plataforma-content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.plataforma-content .plataforma-content-header h2 {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Nunito';
}

@media (max-width: 767px) {
  .plataforma-content .plataforma-content-header h2 {
    font-size: 1.2rem;
  }
}

.plataforma-content .plataforma-content-header > ul {
  margin: 0;
}

.plataforma-content .plataforma-content-header > ul li {
  display: inline-block;
  font-size: .9rem;
  font-weight: 500;
  color: rgba(55, 52, 53, 0.85);
}

@media (max-width: 767px) {
  .plataforma-content .plataforma-content-header > ul li {
    font-size: .8rem;
  }
}

/* .plataforma-content .plataforma-content-header > ul li::after {
  content: "\f111";
  font-family: "FontAwesome";
  display: inline-block;
  color: rgba(55, 52, 53, 0.15);
  margin: 0 10px 0 13px;
  font-size: .5rem;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
} */

.plataforma-content .plataforma-content-header > ul li:last-child::after {
  display: none;
}

.plataforma-card {
  width: 100%;
  border: 1px solid rgba(221, 222, 224, 0.7);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 30px;
  background: rgb(0 0 0 / 8%);
}

.plataforma-card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Lufga';
  border-bottom: 1px solid rgba(221, 222, 224, 0.7);
  padding-bottom: 8px;
  margin-bottom: 13px;
}

.plataforma-card h2 i {
  color: #073982;
  font-size: 1.5rem;
  margin-right: 3px;
}

.plataforma-card ul.plataforma-card-simulados {
  margin: 0;
}

.plataforma-card ul.plataforma-card-simulados li {
  margin-bottom: 10px;
}

.plataforma-card ul.plataforma-card-simulados li:last-child {
  margin-bottom: 0;
}

.plataforma-card ul.plataforma-card-simulados li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.plataforma-card ul.plataforma-card-simulados li .simulado-status {
  width: 45px;
  height: 45px;
  background-color: #f4f5f7;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-card ul.plataforma-card-simulados li .simulado-status i {
  color: rgba(55, 52, 53, 0.8);
  font-size: 1.2rem;
  -webkit-transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-card ul.plataforma-card-simulados li .simulado-status.iniciado {
  background-color: rgba(7, 57, 130, 0.15);
}

.plataforma-card ul.plataforma-card-simulados li .simulado-status.iniciado i {
  color: #049676;
}

.plataforma-card ul.plataforma-card-simulados li .simulado-status.realizado {
  background-color: rgba(0, 128, 0, 0.15);
}

.plataforma-card ul.plataforma-card-simulados li .simulado-status.realizado i {
  color: green;
}

.plataforma-card ul.plataforma-card-simulados li .simulado-titulo {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.plataforma-card ul.plataforma-card-simulados li .simulado-titulo p {
  font-size: .9rem;
  font-weight: 500;
  font-family: 'Nunito';
  color: rgba(55, 52, 53, 0.9);
  margin: 0;
}

.plataforma-card ul.plataforma-card-simulados li .simulado-titulo span {
  font-size: .8rem;
  font-family: 'Lufga';
  font-weight: 500;
  color: rgba(55, 52, 53, 0.6);
}

.plataforma-card ul.plataforma-card-simulados li .simulado-icone {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.plataforma-card ul.plataforma-card-simulados li .simulado-icone i {
  color: #049676;
  -webkit-transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: all 400ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-card ul.plataforma-card-simulados li:hover .simulado-status {
  background-color: rgba(55, 52, 53, 0.8);
}

.plataforma-card ul.plataforma-card-simulados li:hover .simulado-status i {
  color: white;
}

.plataforma-card ul.plataforma-card-simulados li:hover .simulado-status.iniciado {
  background-color: #049676;
}

.plataforma-card ul.plataforma-card-simulados li:hover .simulado-status.realizado {
  background-color: green;
}

.plataforma-card ul.plataforma-card-forum {
  margin: 0;
}

.plataforma-card ul.plataforma-card-forum li {
  margin-bottom: 10px;
}

.plataforma-card ul.plataforma-card-forum li:last-child {
  margin-bottom: 0;
}

.plataforma-card ul.plataforma-card-forum li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.plataforma-card ul.plataforma-card-forum li .topico-foto {
  width: 45px;
  height: 45px;
  background-color: #f4f5f7;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.plataforma-card ul.plataforma-card-forum li .topico-titulo {
  max-width: calc(100% - 55px);
  margin-left: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.plataforma-card ul.plataforma-card-forum li .topico-titulo p {
  font-size: .9rem;
  font-weight: 500;
  color: rgba(55, 52, 53, 0.9);
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.plataforma-card ul.plataforma-card-forum li .topico-titulo > ul {
  margin: 0;
  margin-top: -3px;
}

.plataforma-card ul.plataforma-card-forum li .topico-titulo > ul li {
  display: inline-block;
  font-size: .8rem;
  font-weight: 500;
  color: rgba(55, 52, 53, 0.6);
}

.plataforma-card ul.plataforma-card-forum li .topico-titulo > ul li::after {
  content: "\f111";
  font-family: "FontAwesome";
  display: inline-block;
  color: rgba(55, 52, 53, 0.2);
  margin: auto 4px auto 8px;
  font-size: .3rem;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  line-height: .3rem;
}

.plataforma-card ul.plataforma-card-forum li .topico-titulo > ul li:last-child::after {
  display: none;
}

.plataforma-card ul.plataforma-card-forum li.topico-destaque .topico-foto::after {
  content: "\f005";
  font-family: "FontAwesome";
  font-size: .5rem;
  width: 18px;
  height: 18px;
  background-color: #e27f20;
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  right: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  border: 2px solid white;
}

.plataforma-categorias {
  width: 100%;
}

@media (max-width: 991px) {
  .plataforma-categorias {
    margin-bottom: 30px;
  }
}

.plataforma-categorias .plataforma-categoria {
  width: 100%;
  margin-bottom: 4px;
  -webkit-transition: height 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: height 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-categorias .plataforma-categoria .categoria-header {
  width: 100%;
  background-color: #f4f5f7;
  border: 1px solid rgba(221, 222, 224, 0.7);
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.plataforma-categorias .plataforma-categoria .categoria-header:hover {
  background-color: #ecedef;
}

.plataforma-categorias .plataforma-categoria .categoria-header h2 {
  font-weight: 600;
  font-family: 'Lufga';
}

.plataforma-categorias .plataforma-categoria .categoria-header > ul {
  margin: 0;
}

.plataforma-categorias .plataforma-categoria .categoria-header > ul li {
  display: inline-block;
  font-size: .9rem;
  font-family: 'Nunito';
  font-weight: 500;
  color: rgba(55, 52, 53, 0.85);
}

/* .plataforma-categorias .plataforma-categoria .categoria-header > ul li::after {
  content: "\f111";
  font-family: "FontAwesome";
  display: inline-block;
  color: rgba(55, 52, 53, 0.2);
  margin: 0 4px 0 8px;
  font-size: .4rem;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
 */
.plataforma-categorias .plataforma-categoria .categoria-header > ul li:last-child::after {
  display: none;
}

.plataforma-categorias .plataforma-categoria .categoria-header .categoria-close {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1rem;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s, -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-categorias .plataforma-categoria .categoria-body {
  background-color: white;
  display: none;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video {
  width: 100%;
  border: 1px solid rgba(221, 222, 224, 0.7);
  border-top: none;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

@media (max-width: 767px) {
  .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video {
    padding: 10px 15px 20px;
  }
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video .badge {
  padding: .3em .45em;
  color: #073982;
  background-color: rgba(7, 57, 130, 0.15);
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video:hover {
  background-color: #ddeeddd1;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video .video-placeholder {
  width: 100px;
  height: 65px;
  background: #dadada;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (max-width: 767px) {
  .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video .video-placeholder {
    width: 120px;
  }
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video .video-placeholder .video-duracao {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: .75rem;
  font-weight: 600;
  color: white;
  padding: 3px 5px;
  border-top-left-radius: 5px;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video p {
  font-weight: 500;
  font-size: .95rem;
  font-family: 'Nunito';
  margin: 0 15px;
  color: rgba(55, 52, 53, 0.8);
}

@media (max-width: 767px) {
  .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video p {
    font-size: .9rem;
    line-height: 1rem;
  }
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video .categoria-play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.35rem;
  color: rgba(55, 52, 53, 0.8);
  z-index: 50;
}

@media (max-width: 767px) {
  .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video .categoria-play {
    top: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-top: -5px;
    right: 6px;
    font-size: 1.25rem;
  }
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.assistido .categoria-play {
  color: green;
}

/* .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.assistido .categoria-play::after {
  content: "✔";
  display: inline-block;
  font-size: .8rem;
  line-height: 1.2rem;
  margin-left: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
} */

@media (max-width: 767px) {
  .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.assistido .categoria-play::after {
    font-size: .7rem;
    line-height: 1.1rem;
  }
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado {
  cursor: not-allowed;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado .video-placeholder {
  -webkit-filter: blur(1px) grayscale(1);
  filter: blur(1px) grayscale(1);
  opacity: .6;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado p {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: .6;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado .categoria-play {
  -webkit-filter: blur(1px) grayscale(1);
  filter: blur(1px) grayscale(1);
  opacity: .6;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado .video-liberacao {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 51;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 7px;
  border-radius: 5px;
  width: 100%;
  max-width: 40%;
}

@media (max-width: 767px) {
  .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado .video-liberacao {
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 60%;
  }
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado .video-liberacao i {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 3px;
  text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.video-nao-liberado .video-liberacao p {
  opacity: 1;
  color: rgba(55, 52, 53, 0.7);
  -webkit-filter: none;
  filter: none;
  font-size: .8rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2rem;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.documento .video-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #373435;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.documento .video-placeholder i {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.documento.assistido .categoria-play {
  color: green;
}

/* .plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.documento.assistido .categoria-play::after {
  content: "Visualizado";
}

.plataforma-categorias .plataforma-categoria .categoria-body .categoria-video.questionario.assistido .categoria-play::after {
  content: "Respondido";
} */


.plataforma-categorias .plataforma-categoria:first-child .categoria-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plataforma-categorias .plataforma-categoria:last-child .categoria-header {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.plataforma-categorias .plataforma-categoria:last-child .categoria-body .categoria-video:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.plataforma-categorias .plataforma-categoria.show .categoria-header {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.plataforma-categorias .plataforma-categoria.show .categoria-header .categoria-close {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
.plataforma-simulados-categorias {
  width: 100%;
}

@media (max-width: 991px) {
  .plataforma-simulados-categorias {
    margin-bottom: 30px;
  }
}

.plataforma-simulados-categorias .plataforma-simulado-categoria {
  width: 100%;
  margin-bottom: 4px;
  -webkit-transition: height 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: height 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-simulados-categorias .plataforma-simulado-categoria .categoria-header, .categoria-fixed {
  width: 100%;
  background-color: #f4f5f7;
  border: 1px solid rgba(221, 222, 224, 0.7);
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.categoria-fixed {
  width: 100%;
  background-color: #049676;
  border: 1px solid rgba(221, 222, 224, 0.7);
  padding: 10px 15px;
  cursor:initial;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.categoria-fixed h2 {
  font-weight: 600;
  border: none;
  padding: 0;
  font-family: 'Lufga';
  font-size: .9rem;
  margin: 0;
  color:white;
}

.plataforma-simulados-categorias .plataforma-simulado-categoria .categoria-header:hover {
  background-color: #ecedef;
}

.plataforma-simulados-categorias .plataforma-simulado-categoria .categoria-header h2 {
  font-weight: 600;
  border: none;
  padding: 0;
  font-family: 'Lufga';
  font-size: .9rem;
  margin: 0;
  color:#049676;
}

.plataforma-simulados-categorias .plataforma-simulado-categoria .categoria-header h2 small {
  color:black;
}

.plataforma-simulados-categorias .plataforma-simulado-categoria .categoria-header .categoria-close {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1rem;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s, -webkit-transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.plataforma-simulados-categorias .plataforma-simulado-categoria .categoria-body {
  background-color: white;
  display: none;
  padding: 10px;
}

.plataforma-simulados-categorias .plataforma-simulado-categoria.show .categoria-header .categoria-close {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.plataforma-video-content {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #fafafa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plataforma-video-content .plataforma-video-menu-roll {
  width: 30px;
  height: 40px;
  background-color: #fafafa;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1.5px solid #c1c2c3;
  position: fixed;
  top: 160px;
  left: 30%;
  -webkit-transform: translate(0, 25%);
  transform: translate(0, 25%);
  z-index: 501;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-menu-roll {
    left: 35%;
  }
}

@media (max-width: 991px) {
  .plataforma-video-content .plataforma-video-menu-roll {
    top: 80px;
    left: 100%;
    -webkit-transform: translate(-100%, 25%);
    transform: translate(-100%, 25%);
  }
}

.plataforma-video-content .plataforma-video-menu-roll i {
  color: #373435;
  font-size: .8rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.plataforma-video-content .plataforma-video-menu-roll:hover i {
  color: #073982;
}

.plataforma-video-content .plataforma-video-menu {
  width: 30%;
  height: calc(100vh - 70.38px);
  background-color: #eaecef;
  border-right: 2px solid #c1c2c3;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 20px 20px;
  overflow-y: auto;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  z-index: 501;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.plataforma-video-content .plataforma-video-menu.fixed {
  position: fixed;
  top: 70px;
}

.plataforma-video-content .plataforma-video-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #F5F5F5;
}

.plataforma-video-content .plataforma-video-menu::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.plataforma-video-content .plataforma-video-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(55, 52, 53, 0.5);
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-menu {
    width: 35%;
    height: 100%;
  }
}

@media (max-width: 991px) {
  .plataforma-video-content .plataforma-video-menu {
    width: calc(100% - 30px);
    position: fixed;
    top: 70px;
  }
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria {
  width: 100%;
  padding: 12px 14px;
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
  margin-top: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-header h2 {
  font-weight: 600;
  font-size: x-large;
  font-family: 'Lufga';
  color: #049676;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-header i {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-header ul {
  margin: 0;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-header ul li {
  display: inline-block;
  font-size: .9rem;
  font-weight: 500;
  font-family: 'Nunito';
  color: rgba(55, 52, 53, 0.85);
}

 /*
.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-header ul li::after {
  content: "\f111";
  font-family: "FontAwesome";
  display: inline-block;
  color: rgba(55, 52, 53, 0.2);
  margin: 0 4px 0 8px;
  font-size: .4rem;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px); 
}*/

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-header ul li:last-child::after {
  display: none;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-body {
  padding-top: 5px;
  display: none;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video {
  width: 100%;
  margin-top: 2px;
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 767px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video {
    padding: 7px 10px 15px;
  }
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video .badge {
  padding: .3em .45em;
  color: #073982;
  background-color: rgba(7, 57, 130, 0.15);
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video:hover {
  background-color: #fafafa;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video .video-placeholder {
  width: 80px;
  height: 50px;
  background: #dadada;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video .video-placeholder {
    width: 75px;
    height: 45px;
  }
}

@media (max-width: 767px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video .video-placeholder {
    width: 65px;
    height: 45px;
  }
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video .video-placeholder .video-duracao {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: .7rem;
  font-weight: 600;
  color: white;
  padding: 2px 4px;
  border-top-left-radius: 5px;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video p {
  font-weight: 500;
  font-family: 'Lufga';
  font-size: .9rem;
  margin: 0 15px;
  color: rgba(55, 52, 53, 0.8);
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video p {
    font-size: .8rem;
    margin: 0 15px 0 8px;
  }
}

@media (max-width: 767px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video p {
    font-size: .8rem;
    line-height: 1rem;
  }
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video .categoria-play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: rgba(55, 52, 53, 0.8);
  z-index: 50;
}

@media (max-width: 767px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video .categoria-play {
    top: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    margin-top: -5px;
    right: 6px;
    font-size: 1.2rem;
  }
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.assistido .categoria-play {
  color: green;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.assistido .categoria-play::after {
  display: inline-block;
  font-size: .75rem;
  line-height: 1.1rem;
  margin-left: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@media (max-width: 767px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.assistido .categoria-play::after {
    font-size: .65rem;
    line-height: 1rem;
  }
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.active {
  background-color: white;
  border: 2px solid #049676;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.active p {
  color: #049676;
  font-weight: bold;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.active .categoria-play {
  color: #049676;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado {
  cursor: not-allowed;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado .video-placeholder {
  -webkit-filter: blur(1px) grayscale(1);
  filter: blur(1px) grayscale(1);
  opacity: .6;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado p {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: .6;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado .categoria-play {
  -webkit-filter: blur(1px) grayscale(1);
  filter: blur(1px) grayscale(1);
  opacity: .6;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado .video-liberacao {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 51;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 7px;
  border-radius: 5px;
  width: 100%;
  max-width: 50%;
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado .video-liberacao {
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  .plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado .video-liberacao {
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 80%;
  }
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado .video-liberacao i {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 3px;
  text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.video-nao-liberado .video-liberacao p {
  opacity: 1;
  color: rgba(55, 52, 53, 0.7);
  -webkit-filter: none;
  filter: none;
  font-size: .8rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2rem;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.documento .video-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #373435;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.documento .video-placeholder i {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria .categoria-video.documento.assistido .categoria-play {
  color: green;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria:first-child {
  border-radius: 5px 5px 0 0;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria:last-child {
  border-radius: 0 0 5px 5px;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria.show .categoria-close {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria:hover .categoria-header h2 {
  color: #049676;
}

.plataforma-video-content .plataforma-video-menu .plataforma-video-categoria:hover .categoria-header i {
  color: #073982;
}

.plataforma-video-content .plataforma-video-conteudo {
  width: 70%;
  padding: 30px;
  left: 30%;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-conteudo {
    left: 35%;
    width: 65%;
  }
}

@media (max-width: 991px) {
  .plataforma-video-content .plataforma-video-conteudo {
    padding: 20px;
    width: 100%;
    left: 0;
  }
}

.plataforma-video-content .plataforma-video-conteudo .video-embed {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-conteudo .video-embed {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .plataforma-video-content .plataforma-video-conteudo .video-embed {
    width: 90%;
  }
}

.plataforma-video-content .plataforma-video-conteudo .video-separator {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.075);
  margin: 20px 0;
}

.plataforma-video-content .plataforma-video-conteudo .video-informacoes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .plataforma-video-content .plataforma-video-conteudo .video-informacoes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.plataforma-video-content .plataforma-video-conteudo .video-informacoes h2 {
  font-size: 1.5rem;
  color: #373435;
  font-family: 'Nunito';
  font-weight: 600;
  text-align: left;
}

@media (max-width: 1399px) {
  .plataforma-video-content .plataforma-video-conteudo .video-informacoes h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 991px) {
  .plataforma-video-content .plataforma-video-conteudo .video-informacoes h2 {
    width: 100%;
  }
}

.plataforma-video-content .plataforma-video-conteudo .video-informacoes .video-avaliacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .plataforma-video-content .plataforma-video-conteudo .video-informacoes .video-avaliacao {
    margin: 5px 0 15px;
  }
}

.plataforma-video-content .plataforma-video-conteudo .video-informacoes .video-avaliacao p {
  font-size: .9rem;
  font-weight: 500;
  color: rgba(55, 52, 53, 0.8);
  text-align: center;
}

.plataforma-video-content .plataforma-video-conteudo .video-informacoes .video-detalhes p {
  font-size: .9rem;
  color: rgba(55, 52, 53, 0.7);
}

.plataforma-video-content.hide .plataforma-video-menu-roll {
  left: 0;
  -webkit-transform: translate(0, 25%);
  transform: translate(0, 25%);
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.plataforma-video-content.hide .plataforma-video-menu {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.plataforma-video-content.hide .plataforma-video-conteudo {
  width: 80%;
  left: 10%;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

@media (max-width: 991px) {
  .plataforma-video-content.hide .plataforma-video-conteudo {
    width: 100%;
    left: 0;
  }
}

.plataforma-simulado-header {
  margin-bottom: 20px;
}

.plataforma-simulado-header h2 {
  padding: 8px 0 8px 13px;
  border-left: 4px solid #049676;
  color: #373435;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Lufga';
  background-color: #fafafa;
  border-radius: 0 8px 8px 0;
}

.plataforma-simulado-header h2 p {
  font-size: .9rem;
  font-weight: 500;
  font-family: 'Lufga';
  color: rgba(55, 52, 53, 0.75);
  margin-top: 4px;
}

.plataforma-simulado-header.header-topo h2 {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  border-left: 0;
  background-color: #ece9e9;
}

.plataforma-simulado-questao {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 15px;
}

.plataforma-simulado-questao .plataforma-simulado-header {
  margin-bottom: 10px;
}

.plataforma-simulado-questao .plataforma-simulado-header h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;
  background-color: #f5f3f3;
}

.plataforma-simulado-questao p {
  font-size: .9rem;
}

.plataforma-simulado-questao .questao-alternativas {
  margin-top: 10px;
}

.plataforma-simulado-questao .questao-alternativas label {
  width: 100%;
}

.plataforma-simulado-footer {
  width: 100%;
  border-top: 5px solid #eaeaea;
  margin: 20px 0 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.plataforma-simulado-footer button {
  padding: 10px 30px;
  font-size: 1rem;
}

.simulado-contagem {
  position: fixed;
  bottom: 7px;
  right: 8px;
  background-color: #049676;
  padding: 8px 20px;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid white;
  z-index: 300;
}

.simulado-contagem i {
  margin-right: 5px;
  font-size: 1.1rem;
}

.plataforma-navegacao .plataforma-progresso p {
  font-size: .85rem;
  color: white;
  margin-bottom: 4px;
  font-weight: 500;
}

.plataforma-navegacao {
  font-family: 'Lufga';
}
  
